USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertDataToUTTables]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP TABLE zVPL_EPN_20200109_Swathi.dbo.tmpMATNR        
--EXEC SPInsertDataToUTTables 'BDA_MM_UL_EP1', 'WG0218', 'zVPL_EPN_20200109_Swathi', 'EPN', '300' , 0      
        
CREATE PROCEDURE [dbo].[SPInsertDataToUTTables](
	@Database NVARCHAR(400),
	@Server NVARCHAR(100),
	@zVPL NVARCHAR(100),
	@srcSystem VARCHAR(30),
	@srcClient VARCHAR(5),
	@IsFromAhr BIT = 0
)
AS      
BEGIN
  
	DECLARE @SQL NVARCHAR(MAX), @SQL2 NVARCHAR(MAX), @SQL3 NVARCHAR(MAX), @SAPClientDataDB VARCHAR(30) = '', @JoinCondition NVARCHAR(MAX)
	,@MDMTicketNumber NVARCHAR(MAX), @IsActive BIT;
  
	IF @SAPClientDataDB = ''
	BEGIN
		SELECT @SAPClientDataDB = trdDatabase
		FROM    DGDB_PL.dbo.cfTargetData
		WHERE   trdSystem = @srcSystem
		AND trdClient = @srcClient;
	END;

	SET @SQL = 'IF(OBJECT_ID(''' + @zVPL + '.dbo.tmpMATNR'') IS NOT NULL)
				BEGIN
					DROP TABLE ' + @zVPL + '.dbo.tmpMATNR'  + '
				END';
	PRINT @SQL;
	EXEC(@SQL);
  
	/*
	===============================================================================================        
	Create a Tmp table for all the materials list to load into utMM_MARA        
	===============================================================================================        
	*/        
	SET @SQL = 'CREATE TABLE ' + @zVPL + '.dbo.tmpMATNR(MATNR VARCHAR(50), zClient VARCHAR(5), zSrcId INT);         
	INSERT INTO ' + @zVPL + '.dbo.tmpMATNR         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMARC        
	UNION         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMBEW        
	UNION         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMVKE        
	UNION         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMLAN        
	UNION         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMARD        
	UNION         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMLGN        
	UNION         
	SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttMLGT;        
	--UNION         
	--SELECT DISTINCT MATNR, zClient, zSrcid FROM ' + @zVPL + '.dbo.ttEORD;        
      
	DELETE FROM ' + @zVPL + '.dbo.tmpMATNR WHERE MATNR IN (SELECT DISTINCT MATNR FROM ' + @zVPL + '.dbo.ttMARA)';        
	--PRINT @SQL;        
	EXEC (@SQL);      
          
	IF(@IsFromAhr = 1)      
	BEGIN      
		SET @JoinCondition = 'LEFT OUTER JOIN DGDB_ADHOC_PROD..AdHocRequest AH ON AH.ahrID = A.zSrcId';      
		SET @MDMTicketNumber = 'AH.ahrMDMTicket';      
	END      
	ELSE      
	BEGIN      
		SET @JoinCondition = 'LEFT OUTER JOIN DGDB_PL..CFSource CF ON CF.SrcId = A.zSrcId';      
		SET @MDMTicketNumber = 'CF.srcMDMTicketNumber';      
	END  
  
	SET @SQL = 'SELECT TOP 1 * FROM ' + @zVPL + '..tx179T_NewProdh_BDC';  
	EXEC( @SQL );  
  
	IF @@ROWCOUNT > 0  
	BEGIN  
		SET @IsActive = 0;  
	END  
	ELSE  
	BEGIN  
		SET @IsActive = 1;  
	END  
  
	/*  
	===============================================================================================        
	PH Load        
	===============================================================================================        
	*/   
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[UTMM_T179T]( MANDT, STUFE, PRODH, VTEXT, SPRAS, zActive, zTicketDate, zTicketNumber)  
	SELECT ''300'', T.zSTUFE, T.PRODH, T.VTEXT, A.SPRAS, 1, GETDATE(), ' + @MDMTicketNumber + ' AS zticketnumber  
	FROM ' + @zVPL + '.dbo.tx179T_NewProdh_BDC AS T  
	INNER JOIN ' + @zVPL + '.dbo.ttT179T AS A ON A.PRODH = T.PRODH ' + @JoinCondition;  
	--PRINT @SQL;  
	EXEC (@SQL);  
  
	/*        
	===============================================================================================        
	MARA Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MARA]( MANDT ,        
	MSGFN ,        
	MATNR ,        
	PSTAT ,        
	VPSTA ,        
	MTART ,        
	MBRSH ,        
	MATKL ,        
	MEINS ,        
	BLANZ ,        
	GROES ,        
	BRGEW ,        
	NTGEW ,        
	GEWEI ,        
	VOLUM ,        
	VOLEH ,        
	TRAGR ,        
	SPART ,        
	LAENG ,        
	BREIT ,        
	HOEHE ,        
	PRDHA ,        
	ERGEI ,        
	ERVOL ,        
	FUELG ,        
	STFAK ,        
	MHDRZ ,        
	MHDHB ,        
	MFRPN ,        
	SERLV ,        
	COMPL ,        
	MTPOS_MARA ,        
	SLED_BBD ,        
	QQTIME ,        
	BISMT,        
	EXTWG,        
	MSTAE,        
	MSTAV,        
	MSTDE,        
	MSTDV,        
	NUMTP,        
	XCHPF,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	MATNR_EXTERNAL,      
	zSrcId)        
	SELECT DISTINCT A.zClient AS MANDT ,        
	''009'' AS MSFGN ,        
	A.MATNR ,        
	CASE WHEN (tM.PSTAT IS NULL OR tm.PSTAT = '''' OR tm.PSTAT = ''/'') THEN M.PSTAT ELSE tm.PSTAT END AS PSTAT,        
	CASE WHEN (tM.PSTAT IS NULL OR tm.PSTAT = '''' OR tm.PSTAT = ''/'') THEN M.PSTAT ELSE tm.PSTAT END AS VPSTA,        
	A.MTART ,        
	A.MBRSH ,        
	CASE WHEN TM.MATKL IS NOT NULL THEN TM.MATKL ELSE M.MATKL END AS MATKL,        
	B.MEINS ,        
	''/'' AS BLANZ ,        
	B.GROES ,        
	B.BRGEW ,        
	B.NTGEW ,        
	B.GEWEI ,        
	B.VOLUM ,        
	CASE WHEN B.VOLEH = ''CM3'' THEN ''CCM'' ELSE B.VOLEH END AS VOLEH,        
	B.TRAGR ,        
	B.SPART ,        
	''/'' AS LAENG ,        
	''/'' AS BREIT ,        
	''/'' AS HOEHE ,        
	B.PRDHA ,        
	''/'' AS ERGEI ,        
	''/'' AS ERVOL ,        
	''/'' AS FUELG ,        
	''/'' AS STFAK ,        
	''/'' AS MHDRZ ,        
	''/'' AS MHDHB ,        
	B.MFRPN ,        
	B.SERLV ,        
	''/'' AS COMPL ,        
	B.MTPOS_MARA ,        
	''/'' AS SLED_BBD ,        
	NULL AS QQTIME ,        
	B.BISMT,        
	B.EXTWG,        
	B.MSTAE,        
	B.MSTAV,        
	B.MSTDE,        
	B.MSTDV,        
	B.NUMTP,        
	B.XCHPF,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS ZActive ,        
	GETDATE() AS zticketdate ,       
	' + @MDMTicketNumber + ' AS zticketnumber,        
	A.MATNR AS matnr_external,      
	TM.zSrcId       
	FROM ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS A        
	INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS B ON A.MATNR = B.MATNR        
	INNER JOIN ' + @zVPL + '.dbo.ttMARA AS TM ON A.MATNR = TM.MATNR        
	LEFT OUTER JOIN ' + @SAPClientDataDB + '..MATERIALID MD WITH (NOLOCK) ON MD.MATNR_EXT = TM.MATNR        
	LEFT OUTER JOIN ' + @SAPClientDataDB + '..MARA M WITH (NOLOCK) ON M.MATNR = MD.MATNR_INT ' + @JoinCondition;       
	--PRINT @SQL;        
	EXEC (@SQL);        
      
	/*        
	===============================================================================================        
	Materials with no changes in MARA        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MARA]( MANDT ,        
	MSGFN ,        
	MATNR ,        
	PSTAT ,        
	VPSTA ,        
	MFRPN,        
	MTPOS_MARA,        
	MTART ,        
	MBRSH ,        
	MATKL ,        
	MEINS ,        
	BLANZ ,        
	GROES ,        
	BRGEW ,        
	NTGEW ,        
	GEWEI ,        
	VOLUM ,        
	VOLEH ,        
	TRAGR ,        
	SPART ,        
	LAENG ,        
	BREIT ,        
	HOEHE ,        
	PRDHA ,        
	ERGEI ,        
	ERVOL ,        
	FUELG ,        
	STFAK ,        
	MHDRZ ,        
	MHDHB ,        
	SERLV ,        
	COMPL ,        
	SLED_BBD ,        
	QQTIME ,        
	BISMT,        
	EXTWG,        
	MSTAE,        
	MSTAV,        
	MSTDE,        
	MSTDV,        
	NUMTP,        
	XCHPF,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	MATNR_EXTERNAL,      
	zSrcId)        
	SELECT DISTINCT ''' + @srcClient + ''' AS ZCLIENT,        
	''009'' AS MSFGN ,        
	MD.MATNR_EXT,        
	M.PSTAT,        
	M.PSTAT AS VPSTA,        
	MFRPN,        
	MTPOS_MARA,        
	MTART,        
	''/'' AS MBRSH ,        
	''/'' AS MATKL ,        
	''/'' AS MEINS ,        
	''/'' AS BLANZ ,        
	''/'' AS GROES ,        
	''/'' AS BRGEW ,        
	''/'' AS NTGEW ,        
	''/'' AS GEWEI ,        
	''/'' AS VOLUM ,        
	''/'' AS VOLEH ,        
	''/'' AS TRAGR ,        
	''/'' AS SPART ,        
	''/'' AS LAENG ,        
	''/'' AS BREIT ,        
	''/'' AS HOEHE ,        
	''/'' AS PRDHA ,        
	''/'' AS ERGEI ,        
	''/'' AS ERVOL ,        
	''/'' AS FUELG ,        
	''/'' AS STFAK ,        
	''/'' AS MHDRZ ,        
	''/'' AS MHDHB ,        
	''/'' AS SERLV ,        
	''/'' AS COMPL ,        
	''/'' AS SLED_BBD ,        
	NULL AS QQTIME ,        
	''/'' AS BISMT,        
	''/'' AS EXTWG,        
	''/'' AS MSTAE,        
	''/'' AS MSTAV,        
	''/'' AS MSTDE,        
	''/'' AS MSTDV,        
	''/'' AS NUMTP,        
	''/'' AS XCHPF,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS ZACTIVE ,        
	GETDATE() AS ZTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber,          
	MATNR_EXT ,      
	A.zSrcId       
	FROM ' + @zVPL + '.dbo.tmpMATNR A       
	INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD WITH (NOLOCK) ON MD.MATNR_EXT = A.MATNR        
	INNER JOIN ' + @SAPClientDataDB + '..MARA M WITH (NOLOCK) ON M.MATNR = MD.MATNR_INT ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);        
            
	/*        
	===============================================================================================        
	MAKT Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MAKT]( zSource ,        
	MANDT ,        
	MSGFN ,        
	MATNR ,        
	SPRAS ,        
	MAKTX ,        
	MAKTG ,        
	SPRAS_ISO ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber,      
	zSrcId)        
	SELECT DISTINCT 1 AS zsource ,        
	''' + @srcClient + ''' as MANDT,        
	''009'' AS MSFGN ,        
	MD.MATNR_EXT,        
	''E'' AS SPRAS,        
	''/'' AS MAKTX,        
	''/'' AS MAKTG,        
	''EN'' AS SPRAS_ISO,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zticktdate ,        
	' + @MDMTicketNumber + ' AS zticketnumber,   
	A.zSrcId        
	FROM ' + @zVPL + '.dbo.tmpMATNR A        
	INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD WITH (NOLOCK) ON MD.MATNR_EXT = A.MATNR        
	INNER JOIN ' + @SAPClientDataDB + '..MARA M WITH (NOLOCK) ON M.MATNR = MD.MATNR_INT ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);        
            
	/*         
	===============================================================================================        
	Drop the table with materials from other tables        
	===============================================================================================        
	*/        
	SET @SQL = 'DROP TABLE ' + @zVPL + '.dbo.tmpMATNR';        
	--PRINT @SQL;        
	EXEC(@SQL);        
      
	/*        
	===============================================================================================        
	MARM Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MARM]( MANDT ,        
	MSGFN ,        
	MATNR ,        
	MEINH ,        
	UMREZ ,        
	UMREN ,        
	VOLUM ,        
	VOLEH ,        
	BRGEW ,        
	GEWEI ,        
	MESUB ,        
	NUMTP ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber,      
	zSrcId)        
	SELECT DISTINCT  ''' + @srcClient + ''' AS mandt ,        
	''009'' AS MSFGN ,        
	A.MATNR AS MATNR ,        
	C.MEINH AS MEINH ,        
	C.UMREZ ,        
	C.UMREN ,        
	B.VOLUM ,        
	B.VOLEH ,        
	B.BRGEW ,        
	B.GEWEI ,        
	''/'' AS MESUB ,        
	B.NUMTP,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS ZACTIVE ,        
	GETDATE() AS ZTicktdate ,        
	' + @MDMTicketNumber + ' AS zticketnumber,      
	D.zSrcId      
	FROM ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS a        
	INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR        
	INNER JOIN ' + @zVPL + '.dbo.ttMARA AS D ON A.MATNR = D.MATNR        
	INNER JOIN ' + @zVPL + '.dbo.txMARM_BMMH6_LSMW_Sel AS c ON A.MATNR = c.MATNR ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC (@SQL);        
      
	/*        
	===============================================================================================        
	MAKT Load        
	===============================================================================================        
	*/     
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MAKT]( zSource ,        
	MANDT ,        
	MSGFN ,        
	MATNR ,        
	SPRAS ,        
	MAKTX ,        
	MAKTG ,        
	SPRAS_ISO ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber,      
	zSrcId)        
	SELECT DISTINCT  1 AS zsource ,        
	''' + @srcClient + ''' AS mandt ,        
	''009'' AS MSFGN ,        
	A.MATNR AS matnr ,        
	''E'' AS SPRAS ,        
	B.MAKTX ,        
	''/'' AS MAKTG ,        
	''EN'' AS SPRAS_ISO ,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zticktdate ,        
	' + @MDMTicketNumber + ' AS zticketnumber,        
	D.zSrcId      
	FROM ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS a        
	INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR        
	INNER JOIN ' + @zVPL + '.dbo.ttMARA AS D ON A.MATNR = D.MATNR ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);        
      
	/*        
	===============================================================================================        
	STXH Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_STXH] ( MANDT ,        
	MATNR ,        
	MSGFN ,        
	TDLINE ,        
	TDOBJECT ,        
	TDOBNAME ,        
	TDID ,        
	TDSPRAS ,        
	TDFORMAT,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT TOP 1        
	''' + @srcClient + ''' AS MANDT ,        
	A.MATNR ,        
	''009'' AS MSGFN ,   
	C.TDLINE ,        
	''MATERIAL'' AS TDOBJECT ,        
	'''' AS TDOBNAME ,        
	C.TDID ,        
	C.TDSPRAS ,        
	C.TDFORMAT,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS ZACTIVE ,        
	GETDATE() AS ZTICKETDATE ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	''1'' AS ZSOURCE,      
	A.zSrcId        
	FROM ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS a       
	INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR        
	INNER JOIN ' + @zVPL + '.dbo.txSTXL_BMMH7_LSMW_Sel AS c ON A.MATNR = c.MATNR ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC (@SQL);        
      
	/*        
	===============================================================================================        
	MARC Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MARC ( MANDT ,        
	MSGFN ,        
	MATNR ,        
	WERKS ,        
	PSTAT ,        
	EKGRP ,        
	DISMM ,        
	DISPO ,        
	PLIFZ ,        
	PERKZ ,        
	DISLS ,        
	BESKZ ,        
	FHORI ,        
	WZEIT ,        
	LADGR ,        
	[OBJID] ,        
	MTVFP ,        
	KAUTB ,        
	KORDB ,        
	HERKL ,        
	PRCTR ,        
	FXHOR ,        
	VRMOD ,        
	VINT1 ,        
	VINT2 ,        
	LOSGR ,        
	AWSLS ,        
	SERNP ,        
	LGFSB ,        
	SHZET ,        
	DPLHO ,        
	MINLS ,        
	MAXLS ,        
	COMPL ,        
	MMSTA ,        
	MMSTD ,        
	MINBE,        
	LGRAD,        
	BSTFE,        
	BSTMI,        
	BWTTY,        
	DISGR,        
	DZEIT,        
	EISBE,        
	LGPRO,        
	MAABC,        
	SBDKZ,        
	SFCPF,        
	STAWN,        
	STRGR,        
	UEETO,        
	UNETO,        
	WEBAZ,        
	XCHPF,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)';  
  
	SET @SQL2 = 'SELECT DISTINCT ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	B.MATNR ,        
	B.WERKS ,        
	CASE WHEN (A.PSTAT IS NOT NULL OR A.PSTAT <> '''' OR A.PSTAT <> ''/'') THEN A.PSTAT ELSE M.PSTAT END AS PSTAT,        
	B.EKGRP ,        
	B.DISMM ,        
	B.DISPO ,        
	B.PLIFZ ,        
	B.PERKZ ,        
	B.DISLS ,        
	B.BESKZ ,        
	B.FHORI ,        
	B.WZEIT ,         
	B.LADGR ,        
	0 AS [OBJID] ,        
	B.MTVFP ,        
	B.KAUTB ,        
	B.KORDB ,        
	B.HERKL ,        
	CASE WHEN B.PRCTR = ''/'' THEN B.PRCTR ELSE RIGHT(''0000000000'' + ISNULL(B.PRCTR,''''),10) END AS PRCTR,        
	''/'' AS FXHOR ,        
	''/'' AS VRMOD ,        
	''/'' AS VINT1 ,        
	''/'' AS VINT2 ,        
	''/'' AS LOSGR ,        
	''/'' AS AWSLS ,        
	B.SERNP ,        
	B.LGFSB ,        
	''/'' AS SHZET ,        
	''/'' AS DPLHO ,        
	''/'' AS MINLS ,        
	''/'' AS MAXLS ,        
	''/'' AS COMPL ,        
	UPPER(B.MMSTA) AS MMSTA, --ISNULL(B.MMSTA, ''/'') ,        
	CASE WHEN B.MMSTD IS NULL OR B.MMSTD = ''/'' THEN B.MMSTD ELSE REPLACE(CONVERT(VARCHAR,(CONVERT(datetime, B.MMSTD)),102),''.'','''') END AS MMSTD ,        
	--CASE WHEN B.MMSTD IS NULL or B.MMSTD = ''/'' THEN ''/'' ELSE REPLACE(CONVERT(VARCHAR,(CONVERT(datetime, B.MMSTD)),102),''.'','''') END AS MMSTD ,        
	CASE WHEN B.MINBE IS NULL or B.MINBE = ''/'' THEN ''/'' ELSE B.MINBE END as MINBE,        
	CASE WHEN B.LGRAD IS NULL or B.LGRAD = ''/'' THEN ''/'' ELSE B.LGRAD END as LGRAD,';  
  
	SET @SQL3 = ' B.BSTFE,        
	B.BSTMI,        
	B.BWTTY,        
	B.DISGR,        
	B.DZEIT,        
	B.EISBE,        
	B.LGPRO,        
	B.MAABC,        
	B.SBDKZ,        
	B.SFCPF,        
	B.STAWN,        
	B.STRGR,        
	B.UEETO,        
	B.UNETO,        
	B.WEBAZ,        
	B.XCHPF,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS ZACTIVE ,        
	GETDATE() AS ZTICKETDATE ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	A.zSrcId      
	FROM ' + @zVPL + '.dbo.ttMARC AS A        
	INNER JOIN ' + @zVPL + '.dbo.txMARC_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR AND A.WERKS = B.WERKS        
	LEFT OUTER JOIN ' + @SAPClientDataDB + '..MATERIALID MD WITH (NOLOCK) ON MD.MATNR_EXT = A.MATNR        
	LEFT OUTER JOIN ' + @SAPClientDataDB + '..MARC M WITH (NOLOCK) ON M.MATNR = MD.MATNR_INT AND M.WERKS = A.WERKS ' + @JoinCondition;  
  
	--PRINT (@SQL);        
	--PRINT @SQL2;        
	--PRINT @SQL3;        
	EXEC (@SQL + @SQL2 + @SQL3);        
            
	/*      
	===============================================================================================        
	Create a Tmp table for all the materials list to load into MARC        
	===============================================================================================        
	*/        
	SET @SQL = 'CREATE TABLE ' + @zVPL + '.dbo.tmpMATNR(MATNR VARCHAR(50), zClient VARCHAR(5), WERKS VARCHAR(4), zSrcId INT);      
	INSERT INTO ' + @zVPL + '.dbo.tmpMATNR         
	SELECT DISTINCT MATNR, zClient, WERKS, zSrcId FROM ' + @zVPL + '.dbo.ttMARD;        
      
	DELETE FROM ' + @zVPL + '.dbo.tmpMATNR WHERE MATNR IN (SELECT DISTINCT MATNR FROM ' + @zVPL + '.dbo.ttMARC)';        
	--PRINT @SQL;        
	EXEC (@SQL);        
            
	/*        
	===============================================================================================        
	MARC Load with no changes in MARC        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MARC (MANDT ,        
	MSGFN ,        
	MATNR ,        
	WERKS ,        
	PSTAT ,        
	EKGRP ,        
	DISMM ,        
	DISPO ,        
	PLIFZ ,        
	PERKZ ,        
	DISLS ,        
	BESKZ ,        
	FHORI ,        
	WZEIT ,        
	LADGR ,        
	[OBJID] ,        
	MTVFP ,        
	KAUTB ,        
	KORDB ,        
	HERKL ,        
	PRCTR ,        
	FXHOR ,        
	VRMOD ,        
	VINT1 ,        
	VINT2 ,        
	LOSGR ,        
	AWSLS ,        
	SERNP ,        
	LGFSB ,        
	SHZET ,        
	DPLHO ,        
	MINLS ,        
	MAXLS ,        
	COMPL ,        
	MMSTA ,        
	MMSTD ,        
	MINBE,        
	LGRAD,        
	BSTFE,        
	BSTMI,        
	BWTTY,        
	DISGR,        
	DZEIT,        
	EISBE,        
	LGPRO,        
	MAABC,        
	SBDKZ,        
	SFCPF,        
	STAWN,        
	STRGR,        
	UEETO,        
	UNETO,        
	WEBAZ,        
	XCHPF,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)';  
  
	SET @SQL2 = 'SELECT DISTINCT  ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.WERKS ,        
	M.PSTAT ,        
	''/'' AS EKGRP ,        
	''/'' AS DISMM ,        
	''/'' AS DISPO ,        
	''/'' AS PLIFZ , --CASE WHEN B.PLIFZ = ''/'' THEN NULL ELSE B.PLIFZ END,        
	''/'' AS PERKZ ,        
	''/'' AS DISLS ,        
	''/'' AS BESKZ ,        
	''/'' AS FHORI ,        
	''/'' AS WZEIT , --CASE WHEN B.WZEIT = ''/'' THEN NULL ELSE B.WZEIT END,        
	''/'' AS LADGR ,        
	0 AS [OBJID] ,        
	''/'' AS MTVFP ,        
	''/'' AS KAUTB ,        
	''/'' AS KORDB ,        
	''/'' AS HERKL ,        
	''/'' AS PRCTR ,        
	''/'' AS FXHOR ,        
	''/'' AS VRMOD ,        
	''/'' AS VINT1 ,        
	''/'' AS VINT2 ,        
	''/'' AS LOSGR ,        
	''/'' AS AWSLS ,        
	''/'' AS SERNP ,        
	''/'' AS LGFSB ,        
	''/'' AS SHZET ,        
	''/'' AS DPLHO ,        
	''/'' AS MINLS ,        
	''/'' AS MAXLS ,        
	''/'' AS COMPL ,        
	''/'' AS MMSTA ,        
	''/'' AS MMSTD ,        
	''/'' AS MINBE,        
	''/'' AS LGRAD,        
	''/'' AS BSTFE,        
	''/'' AS BSTMI,        
	''/'' AS BWTTY,        
	''/'' AS DISGR,        
	''/'' AS DZEIT,        
	''/'' AS EISBE,        
	''/'' AS LGPRO,        
	''/'' AS MAABC,        
	''/'' AS SBDKZ,        
	''/'' AS SFCPF,        
	''/'' AS STAWN,        
	''/'' AS STRGR,        
	''/'' AS UEETO,        
	''/'' AS UNETO,        
	''/'' AS WEBAZ,        
	''/'' AS XCHPF,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS ZACTIVE ,        
	GETDATE() AS ZTICKETDATE ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	A.zSrcId        
	FROM ' + @zVPL + '.dbo.tmpMATNR A        
	INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD WITH (NOLOCK) ON MD.MATNR_EXT = A.MATNR        
	INNER JOIN ' + @SAPClientDataDB + '..MARC M WITH (NOLOCK) ON M.MATNR = MD.MATNR_INT and M.WERKS = A.WERKS ' + @JoinCondition;  
  
	--PRINT @SQL + @SQL2;        
	EXEC (@SQL + @SQL2);        
                    
	/*        
	===============================================================================================        
	Drop the table with materials from other tables        
	===============================================================================================        
	*/        
	SET @SQL = 'DROP TABLE ' + @zVPL + '.dbo.tmpMATNR';        
	--PRINT @SQL;        
	EXEC(@SQL);        
      
	/*        
	===============================================================================================        
	MBEW Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MBEW ( MANDT ,        
	MSGFN ,        
	MATNR ,        
	BWKEY ,        
	BWTAR ,        
	VPRSV ,        
	VERPR ,        
	STPRS ,        
	PEINH ,        
	BKLAS ,        
	VMVPR ,        
	VMVER ,        
	VMSTP ,        
	VMPEI ,        
	VMBKL ,        
	VJVPR ,        
	VJVER ,        
	VJSTP ,        
	VJBKL ,        
	LFGJA ,        
	LFMON ,        
	PSTAT ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT  ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.BWKEY ,        
	A.BWTAR ,        
	A.VPRSV ,        
	A.VERPR ,        
	A.STPRS ,        
	A.PEINH ,        
	A.BKLAS ,        
	A.VPRSV AS VMVPR ,        
	''/'' AS VMVER ,        
	A.STPRS AS VMSTP ,        
	A.VERPR AS VMPEI ,        
	A.BKLAS AS VMBKL ,        
	A.VPRSV AS VJVPR ,        
	A.VERPR AS VJVER ,        
	A.STPRS AS VJSTP ,        
	A.BKLAS AS VJBKL ,        
	''/'' AS LFGJA ,        
	''/'' AS LFMON ,        
	A.PSTAT ,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	A.zSrcId      
	FROM ' + @zVPL + '.dbo.ttMBEW AS A       
	LEFT OUTER JOIN ' + @zVPL + '.dbo.txMBEW_VERPR_MR21 AS b ON A.MATNR = B.MATNR AND A.BWKEY = B.WERKS ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC (@SQL);      
          
	/*      
	===============================================================================================        
	Materials with price changes in MBEW       
	===============================================================================================        
	*/      
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_PRICECHANGE](      
	FISC_YEAR,      
	FISC_MONTH,      
	PRICE_DATE,      
	MATERIAL_EXT,      
	VALUATIONAREA,      
	CURRENCY,      
	PRICE_UNIT,      
	PRICE,      
	--DUMMY,      
	ZACTIVE,      
	CURRENCY_TYPE,  
	zTicketDate ,        
	zTicketNumber ,        
	zSrcId      
	)      
	SELECT DISTINCT       
	CASE WHEN DATEPART(MONTH,GETDATE()) BETWEEN 3 AND 12 THEN DATEPART(YEAR,GETDATE())+1 ELSE  DATEPART(YEAR,GETDATE())END AS FISC_YEAR,      
	CASE WHEN DATEPART(MONTH,GETDATE()) BETWEEN 3 AND 12 THEN DATEPART(MONTH,GETDATE())-2 ELSE  DATEPART(MONTH,GETDATE()) + 10 END AS FISC_MONTH,      
	CONVERT(NVARCHAR,GetDate(),112) AS PRICE_DATE,      
	MD.MATNR_EXT,      
	A.BWKEY,      
	A.zVendorCurr,      
	PEINH,             
	VERPR,      
	--''d'' AS Dummy,      
	1,      
	10,  
	GETDATE() AS zTicketDate ,  
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	A.zSrcId          
	FROM ' + @zVPL + '.dbo.ttMBEW AS A     
	INNER JOIN  '+@zVPL+'.dbo.txMBEW_VERPR_MR21 AS B ON A.MATNR = B.MATNR AND A.BWKEY = B.WERKS     
	INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD WITH (NOLOCK) ON MD.MATNR_EXT = A.MATNR     
	INNER JOIN ' + @SAPClientDataDB + '..MARA M WITH (NOLOCK) ON M.MATNR = MD.MATNR_INT ' + @JoinCondition;       
	--PRINT @SQL;        
	--EXEC (@SQL);       -- Commented for now as the data is already inserted into ttMBEW and processed from MATMAS
      
	/*        
	===============================================================================================        
	MVKE Load        
	===============================================================================================        
	*/     
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MVKE ( MANDT ,        
	MSGFN ,        
	MATNR ,        
	VKORG ,        
	VTWEG ,        
	VERSG ,        
	AUMNG ,        
	MTPOS ,        
	DWERK ,        
	PRODH ,        
	KTGRM ,        
	VMSTA ,        
	VMSTD ,        
	BONUS,        
	KONDM,        
	MVGR1,        
	MVGR2,        
	MVGR3,      
	PRAT1,        
	PRAT2,        
	PRAT3,        
	RDPRF,        
	SKTOF,        
	VRKME,              
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.VKORG ,        
	A.VTWEG ,        
	B.VERSG ,        
	B.AUMNG ,         
	B.MTPOS ,        
	B.DWERK ,        
	B.PRODH ,        
	B.KTGRM ,        
	--ISNULL(B.VMSTA, ''/'') ,        
	UPPER(B.VMSTA) AS VMSTA,         
	CASE WHEN B.VMSTD IS NULL OR B.VMSTD = ''/'' THEN B.VMSTD ELSE REPLACE(CONVERT(VARCHAR,(CONVERT(datetime, B.VMSTD)),102),''.'','''') END AS VMSTD ,        
	--CASE WHEN B.VMSTD IS NULL  or B.VMSTD = ''/'' THEN ''/'' ELSE REPLACE(CONVERT(VARCHAR,(CONVERT(datetime, B.VMSTD)),102),''.'','''') END AS VMSTD ,        
	B.BONUS,        
	B.KONDM,        
	B.MVGR1,        
	B.MVGR2,        
	B.MVGR3,       
	''/'' as PRAT1,       
	B.PRAT2,        
	B.PRAT3,        
	B.RDPRF,        
	B.SKTOF,        
	B.VRKME,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zActive ,        
	GETDATE() AS zTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	C.zSrcId        
	FROM ' + @zVPL + '.dbo.txMVKE_BMM00_LSMW_Sel AS a        
	INNER JOIN ' + @zVPL + '.dbo.txMVKE_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR AND A.VKORG = B.VKORG        
	INNER JOIN ' + @zVPL + '.dbo.ttMVKE AS c ON A.MATNR = c.MATNR AND A.VKORG = c.VKORG ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC (@SQL);        
      
	/*        
	===============================================================================================        
	MLAN Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MLAN ( MANDT ,        
	MSGFN ,        
	MATNR ,        
	ALAND ,
	TAXM1,        
	TAXM2,        
	TAXM3,        
	TAXM4,
	TATY1,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.ALAND , 
	A.ZTAXKM,       
	A.TAXM2,        
	A.TAXM3,        
	A.TAXM4,
	A.TATY1,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	C.zSrcId      
	FROM ' + @zVPL + '.dbo.txMLAN_BMMH2_LSMW_Sel AS a        
	INNER JOIN ' + @zVPL + '.dbo.ttMLAN AS c ON A.MATNR = c.MATNR AND A.VKORG = c.zVKORG ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);        
      
	/*        
	===============================================================================================        
	MARD Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MARD ( MANDT ,        
	MSGFN ,        
	MATNR ,        
	WERKS ,        
	LGORT ,        
	PSTAT ,        
	HERKL ,        
	PRCTL ,        
	DISKZ ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.WERKS ,        
	A.LGORT ,        
	c.PSTAT ,        
	''/'' AS HERKL ,        
	''/'' AS PRCTL ,        
	A.DISKZ ,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	C.zSrcId        
	FROM ' + @zVPL + '.dbo.txMARD_BMM00_LSMW_Sel AS a        
	INNER JOIN ' + @zVPL + '.dbo.ttMARD AS c ON A.MATNR = c.MATNR AND A.WERKS = c.WERKS AND A.LGORT = C.LGORT ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC (@SQL);        
      
	/*        
	===============================================================================================        
	MLGN Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MLGN( MANDT ,        
	MSGFN ,        
	MATNR ,        
	LGNUM ,        
	LGBKZ ,        
	LTKZE ,        
	LTKZA ,        
	KZZUL ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.LGNUM ,        
	A.LGBKZ ,        
	A.LTKZE ,        
	A.LTKZA ,        
	A.KZZUL ,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	C.zSrcId        
	FROM ' + @zVPL + '.dbo.txMLGN_BMM00_LSMW_Sel AS a        
	INNER JOIN ' + @zVPL + '.dbo.ttMLGN AS c ON A.MATNR = c.MATNR AND A.LGNUM = c.LGNUM ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);        
      
	/*        
	===============================================================================================        
	MLGT Load (Currently Not maintaining in MM regular loads)        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MLGT( MANDT ,        
	MSGFN ,        
	MATNR ,        
	LGNUM ,        
	LGTYP ,        
	LGPLA ,        
	LPMAX ,        
	LPMIN ,        
	MAMNG ,        
	NSMNG ,        
	RDMNG ,        
	zActive ,        
	zTicketDate ,        
	zTicketNumber ,        
	zSource,      
	zSrcId)        
	SELECT DISTINCT ''' + @srcClient + ''' AS MANDT ,        
	''009'' AS MSGFN ,        
	A.MATNR ,        
	A.LGNUM ,        
	A.LGTYP ,        
	A.LGPLA ,        
	''/'' AS LPMAX ,        
	''/'' AS LPMIN ,        
	''/'' AS MAMNG ,        
	''/'' AS NSMNG ,        
	''/'' AS RDMNG ,        
	' + CAST(@IsActive AS NVARCHAR(1)) + ' AS zactive ,        
	GETDATE() AS zTicketDate ,        
	' + @MDMTicketNumber + ' AS zticketnumber ,        
	1 AS zSource,      
	A.zSrcID        
	FROM ' + @zVPL + '.dbo.ttMLGT AS a ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);       
          
	/*        
	===============================================================================================        
	EORD/Source List Header Load        
	===============================================================================================        
	*/       
	SET @SQL = 'INSERT INTO ' + @Server + '.' + @Database + '.[dbo].utmm_srcheader( MSGFN ,      
	MATNR ,        
	WERKS ,        
	LOGSY ,        
	MATNR_EXTERNAL ,      
	zActive,      
	zSrcId,      
	zTicketNumber)        
	SELECT DISTINCT A.MSGFN AS MSGFN ,        
	A.MATNR ,        
	A.WERKS ,        
	LOGSY ,        
	A.MATNR, ''';      
	SET @SQL = @SQL + CAST(@IsFromAhr AS NVARCHAR(2)) + ''' AS zActive,      
	A.zSrcId,      
	' + @MDMTicketNumber + ' AS zticketnumber       
	FROM ' + @zVPL + '.dbo.txEORD_Header AS A        
	INNER JOIN ' + @zVPL + '.dbo.txEORD_Detail AS B ON A.MATNR = B.MATNR AND A.WERKS = B.WERKS ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);        
                        
	/*        
	===============================================================================================        
	EORD/Source List Details Load        
	===============================================================================================        
	*/        
	SET @SQL = 'INSERT INTO ' + @Server + '.' + @Database + '.[dbo].utMM_SOURCELIST( MSGFN ,        
	MATNR ,        
	WERKS ,        
	LOGSY ,        
	MATNR_EXTERNAL ,        
	ZEORD ,        
	VDATU ,        
	BDATU ,        
	LIFNR ,        
	FLIFN ,        
	EKORG ,        
	AUTET ,        
	MEINS ,        
	zActive,      
	zSrcId,      
	zTicketNumber)        
	SELECT DISTINCT A.MSGFN AS MSGFN ,        
	A.MATNR ,        
	A.WERKS ,        
	LOGSY ,        
	A.MATNR ,        
	ZEORD ,        
	VDATU ,        
	BDATU ,        
	LIFNR ,        
	B.FESKZ ,        
	EKORG ,        
	AUTET ,        
	MEINS, ''';      
	SET @SQL = @SQL + CAST(@IsFromAhr AS NVARCHAR(2)) + ''' AS zActive,      
	A.zSrcId,      
	' + @MDMTicketNumber + ' AS zticketnumber        
	FROM ' + @zVPL + '.dbo.txEORD_Header AS A        
	INNER JOIN ' + @zVPL + '.dbo.txEORD_Detail AS B ON A.MATNR = B.MATNR AND A.WERKS = B.WERKS ' + @JoinCondition;      
	--PRINT @SQL;        
	EXEC(@SQL);      

	/* Load PIR data to UT Tables*/
	EXEC DGDB_PL..SPInsertDataToUTTables_PIR @Database, @Server, @zVPL, @srcSystem, @srcClient, @IsFromAhr;  
  
	/*Load Classifications data to UT Tables*/  
	EXEC spInsertClassificationDataToUTTables @zVPL, @Database, @MDMTicketNumber, @JoinCondition;

END;
GO
