USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spMaintainSTDC_Batches_WIP]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[spMaintainSTDC_Batches_WIP](
	@RUN BIT = 1
	, @GroupId INT
	, @ExportType NVARCHAR(4)
)
AS

	BEGIN

		IF @Run = 0 BEGIN PRINT 'Run = 0' RETURN  END

		SET NOCOUNT ON

		
		BEGIN TRY
	
			DECLARE 
				@MinPriceChangePerc  INTEGER = 0,
				@Message NVARCHAR(4000),
				@RowCount BIGINT,
				--@ExportType NVARCHAR(4) = 'BDC',
				@SQL NVARCHAR(4000),
				@StartDate DATETIME = GETDATE(),
				@CurrentDate DATETIME = GETDATE(),
				@prlProcess NVARCHAR(60)= DB_NAME()+'..'+OBJECT_NAME(@@PROCID)

			INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Start','',SYSTEM_USER,GetDate(),0,DATEDIFF(Second,@StartDate,GETDATE()))
			
			IF OBJECT_ID('.dgdb_PL_ScheduledJobs..PriceData') IS NOT NULL 
				BEGIN 					
					DROP TABLE dgdb_PL_ScheduledJobs..PriceData 					
				END				
		
			/* Get relevant Plant data*/
			SET @StartDate = GETDATE()
			SELECT  
					CAST('' AS NVARCHAR(255)) AS UpdateComment_VERPR,				
					CAST('' AS NVARCHAR(10)) AS MATKL,
					CAST('' AS NVARCHAR(40)) AS MATKL_DESC,
					EINA.LIFNR ,
					CAST('' AS NVARCHAR(40)) AS LIFNR_DESC,
					MATNR_EXT AS MATNR,
					MATNR_INT,
					T001.BUKRS,
					EINE.PEINH,
					EINE.WERKS ,
					EINE.WAERS AS PIR_WAERS,
					NETPR,
					EFFPR ,					
					EFFPR * CurrentFxRates.UKURS AS EFFPR_Local ,	-- Function for rounding IDR to zero Decimals
					CAST(0 AS BIT ) AS EFFPRPriceChangeFlag,
					T001.WAERS AS Company_WAERS,
					CurrentFxRates.UKURS ,		
					CAST(1 AS INT) AS zCURRDEC,									
					VPRSV ,
					VERPR ,			
					STPRS ,
					T001.LAND1 ,
					MBEW.LBKUM,				
					CAST(0 AS DECIMAL(12,2)) AS ChangePerc 				
				INTO dgdb_PL_ScheduledJobs..PriceData     
				FROM dgdb_PL_EPN_300..EINE
					INNER JOIN dgdb_PL_EPN_300..EINA ON dgdb_PL_EPN_300.dbo.EINA.INFNR = dgdb_PL_EPN_300.dbo.EINE.INFNR			
					INNER JOIN dgdb_PL_EPN_300..MATERIALID ON MATNR_INT = EINA.MATNR
					INNER JOIN dgdb_PL_EPN_300..MARC ON dgdb_PL_EPN_300.dbo.MARC.MATNR = dgdb_PL_EPN_300.dbo.EINA.MATNR
														AND dgdb_PL_EPN_300.dbo.MARC.WERKS = dgdb_PL_EPN_300.dbo.EINE.WERKS
					INNER JOIN dgdb_PL_EPN_300..MBEW ON dgdb_PL_EPN_300.dbo.MBEW.MATNR = dgdb_PL_EPN_300.dbo.EINA.MATNR
														AND dgdb_PL_EPN_300.dbo.MBEW.BWKEY = dgdb_PL_EPN_300.dbo.EINE.WERKS
					INNER JOIN dgdb_PL_EPN_300..T001K ON dgdb_PL_EPN_300.dbo.T001K.BWKEY = dgdb_PL_EPN_300.dbo.MBEW.BWKEY
					INNER JOIN dgdb_PL_EPN_300..T001 ON dgdb_PL_EPN_300.dbo.T001.BUKRS = dgdb_PL_EPN_300.dbo.T001K.BUKRS
					INNER JOIN dgdb_PL_EPN_300..CurrentFxRates ON TCURR = T001.WAERS
																  AND FCURR = EINE.WAERS  
					INNER JOIN dgdb_PL_EPN_300..EORD ON dgdb_PL_EPN_300.dbo.EORD.LIFNR = dgdb_PL_EPN_300.dbo.EINA.LIFNR
																AND dgdb_PL_EPN_300.dbo.EORD.MATNR = dgdb_PL_EPN_300.dbo.EINA.MATNR 
																AND dgdb_PL_EPN_300.dbo.EORD.WERKS = dgdb_PL_EPN_300.dbo.EINE.WERKS
					INNER JOIN dgdb_PL..FXWerks_Count2 FS ON FS.WERKS = EINE.WERKS AND FS.GroupId = @GroupId
				WHERE	MARC.MMSTA <> 'Z5'												-- No Obsolete Products
					AND MARC.MMSTD < = CONVERT(NVARCHAR, GETDATE(), 112)				-- No Obsolete Products
					AND MARC.LVORM <> 'X'												-- Not Flagged For Deletion
					AND MBEW.LVORM <> 'X'												-- Not Flagged For Deletion
					AND MBEW.VPRSV = 'S'												-- Standard cost only
					AND RIGHT(EINE.WERKS, 1) = '1'										-- Main Plant enbding with 1 Only
					AND FLIFN = 'X'														-- Default Supplier on the SourceLIst
					AND EINE.WERKS NOT IN ('2001','2002','2003','2011','2012','2013')	-- Exclude old US plants				
					--AND T001.WAERS <> EINE.WAERS										-- Diff Purchasing Currency										
					AND EINE.ESOKZ = 0													-- Standard PIR
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Create Table dgdb_PL_ScheduledJobs..PriceData','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))										
				
			/*Some Updates on PriceData*/

				/*UPDATE zCURRDEC, decimal places currecnies esp. IDR*/
				UPDATE P SET zCURRDEC = CAST(POWER(10,(3-X.CURRDEC)) AS INT) FROM dgdb_PL_ScheduledJobs..PriceData  P INNER JOIN (SELECT * FROM dgdb_PL_EPN_300..TCURX) X ON P.Company_WAERS = X.CURRKEY AND P.PIR_WAERS <> P.Company_WAERS
                UPDATE P SET EFFPR_Local = EFFPR_Local * zCURRDEC FROM dgdb_PL_ScheduledJobs..PriceData P WHERE zCURRDEC <> 1;

			
				/*No Price change*/
				SET @StartDate = GETDATE()
				DELETE FROM dgdb_PL_ScheduledJobs..PriceData WHERE EFFPR_Local = STPRS
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Delete wHere no Change','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))		

				/*Index Data*/
				SET @StartDate = GETDATE()
				CREATE UNIQUE INDEX UIX_0 ON dgdb_PL_ScheduledJobs..PriceData(WERKS,MATNR)				
				CREATE INDEX IX_2 ON dgdb_PL_ScheduledJobs..PriceData(LIFNR)
				CREATE INDEX IX_3 ON dgdb_PL_ScheduledJobs..PriceData(VPRSV)
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Index dgdb_PL_ScheduledJobs..PriceData','',SYSTEM_USER,GetDate(),0,DATEDIFF(SECOND,@StartDate,GETDATE()))	

				/* Update with Vendor Name*/
				SET @StartDate = GETDATE()
				UPDATE dgdb_PL_ScheduledJobs..PriceData SET LIFNR_DESC = NAME1 FROM dgdb_PL_ScheduledJobs..PriceData INNER JOIN dgdb_PL_EPN_300..LFA1 ON dgdb_PL_ScheduledJobs..PriceData.LIFNR = LFA1.LIFNR
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Add VendorName','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))		

				/* Update with Material Group*/
				SET @StartDate = GETDATE()
				UPDATE dgdb_PL_ScheduledJobs..PriceData SET MATKL = MARA.MATKL,MATKL_DESC = WGBEZ FROM dgdb_PL_ScheduledJobs..PriceData INNER JOIN dgdb_PL_EPN_300..MARA ON MARA.MATNR = dgdb_PL_ScheduledJobs..PriceData.MATNR_INT INNER JOIN dgdb_PL_EPN_300..T023T ON MARA.MATKL = T023T.MATKL
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Add MaterialGroup(description)','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))		

				/* Update with Change Percentage*/
				SET @StartDate = GETDATE()
				UPDATE dgdb_PL_ScheduledJobs..PriceData
					SET ChangePerc = 
						CASE 
							WHEN STPRS = 0 AND EFFPR_Local = 0 THEN 0
							WHEN STPRS = 0 AND EFFPR_Local <> 0 THEN 100
							WHEN STPRS <> 0 THEN ROUND((EFFPR_Local - STPRS) / STPRS,2)
						END
					FROM dgdb_PL_ScheduledJobs..PriceData
					---WHERE VPRSV = 'S'
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Update ChangePerc','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))					

				/* Update UpdateComment_VERPR*/
					SET @StartDate = GETDATE()
					UPDATE dgdb_PL_ScheduledJobs..PriceData  
						SET UpdateComment_VERPR = 
							CASE WHEN ABS(EFFPR_Local - VERPR) > 0.01 THEN
								CASE
									WHEN ABS(ChangePerc) > = @MinPriceChangePerc/100 AND LBKUM = 0 AND ROUND(EFFPR_Local,2) <> ROUND(STPRS,2) 
										THEN CASE WHEN  PIR_WAERS <> COMPANY_WAERS THEN 'UPDATE CURR DIFF' ELSE 'UPDATE SAME CURR' END													
									ELSE 'NO CHANGE < 0.01'
								END
							ELSE
								'NO CHANGE'
							END
						FROM dgdb_PL_ScheduledJobs..PriceData 
						--WHERE VPRSV = 'V'   
					INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Update UpdateComment_VERPR','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))								
									
					/* Has Stock*/
					SET @StartDate = GETDATE()
					UPDATE dgdb_PL_ScheduledJobs..PriceData
						--SET UpdateComment_STPRS = CASE WHEN VPRSV = 'S' THEN 'NO UPDATE, STOCK' ELSE '' END,
						SET UpdateComment_VERPR = 'NO UPDATE, STOCK' 
						FROM dgdb_PL_ScheduledJobs..PriceData 
						WHERE VPRSV = 'S' AND LBKUM <> 0
					INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'UpdateComment_VERPR - StockOverride','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))								
						
			
			
			/* Update History Tables, to keep track of changes*/
				
				SET @StartDate = GETDATE()
				BEGIN TRANSACTION
					/*Price Changes In #TMP Table */
					SELECT 
						C.MATNR,
						C.WERKS,
						C.LIFNR  ,
						C.PIR_WAERS,  
						C.EFFPR
					  INTO #TMP	
						FROM dgdb_PL_ScheduledJobs..PriceData C
							INNER JOIN dgdb_PL_ScheduledJobs..PriceDataPrevious P 
								ON	P.MATNR = C.MATNR
								AND P.WERKS = C.WERKS                
						WHERE C.EFFPR <> P.EFFPR
				INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Update Previous&History Tables, Changes','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))										

					/*New Materials In #TMP Table */
					SET @StartDate = GETDATE()
					INSERT INTO #TMP
					        ( MATNR, WERKS, LIFNR, PIR_WAERS, EFFPR )
					    SELECT 
							C.MATNR,
							C.WERKS,
							C.LIFNR  ,
							C.PIR_WAERS,  
							C.EFFPR						  
							FROM dgdb_PL_ScheduledJobs..PriceData C
								LEFT OUTER JOIN dgdb_PL_ScheduledJobs..PriceDataPrevious P 
									ON	P.MATNR = C.MATNR
									AND P.WERKS = C.WERKS                
							WHERE P.MATNR IS NULL
					INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Update Previous&History Tables, new Materials','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))										

					CREATE UNIQUE INDEX TMP_IX ON #TMP(MATNR,WERKS)


					/*Update History */
					INSERT INTO dgdb_PL_ScheduledJobs..PriceDataHistory
							( MATNR ,
							  WERKS ,
							  LIFNR ,
							  PIR_WAERS ,
							  EFFPR ,
							  [Date]
							)
							SELECT P.MATNR ,
									P.WERKS ,
									P.LIFNR ,
									P.PIR_WAERS ,
									P.EFFPR ,
									P.[Date]
								FROM #TMP T
									INNER JOIN dgdb_PL_ScheduledJobs..PriceDataPrevious P 
										ON	P.MATNR = T.MATNR
										AND P.WERKS = T.WERKS
					
					
					DELETE FROM dgdb_PL_ScheduledJobs..PriceDataPrevious
						WHERE MATNR + WERKS IN ( SELECT MATNR + WERKS
													FROM #TMP )
					UPDATE C
						SET EFFPRPriceChangeFlag = 1
							FROM dgdb_PL_ScheduledJobs..PriceData C
							INNER JOIN #TMP T ON T.MATNR = C.MATNR AND T.WERKS = C.WERKS
    
					INSERT INTO dgdb_PL_ScheduledJobs..PriceDataPrevious
							( MATNR ,
							  WERKS ,
							  LIFNR ,
							  PIR_WAERS ,
							  EFFPR ,
							  dATE
							)
					   SELECT MATNR ,
									WERKS ,
									LIFNR ,
									PIR_WAERS ,
									EFFPR ,
									CONVERT(NVARCHAR,GetDate(),120) AS Date
								FROM #TMP 
					INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Update Previous&History Tables Finished','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))										

				COMMIT TRANSACTION

			
			
			/* Export Formats BAPI or BDC*/

				IF @exportType = 'BAPI'
					BEGIN
						SET @StartDate = GETDATE()
						IF OBJECT_ID('dgdb_PL_ScheduledJobs..txMBEW_VERPR_MR21_STDC_BAPI') IS NOT NULL 
							BEGIN 					
								DROP TABLE dgdb_PL_ScheduledJobs..txMBEW_VERPR_MR21_STDC_BAPI 								
							END				

						SELECT 
							CASE WHEN DATEPART(MONTH,GETDATE()) BETWEEN 3 AND 12 THEN DATEPART(YEAR,GETDATE())+1 ELSE  DATEPART(YEAR,GETDATE())END AS FISC_YEAR,
							CASE WHEN DATEPART(MONTH,GETDATE()) BETWEEN 3 AND 12 THEN DATEPART(MONTH,GETDATE())-2 ELSE  DATEPART(MONTH,GETDATE()) + 10 END AS FISC_MONTH,
							CONVERT(NVARCHAR,GetDate(),112) AS PRICE_DATE,
							MATNR AS MATERIAL_EXT,
							WERKS  AS VALUATIONAREA,
							Company_WAERS AS CURRENCY,
							PEINH AS PRICE_UNIT,
							--1 AS PRICE_UNIT,
							dgdb_pl.dbo.fnFormatCostPrice (EFFPR_Local,Company_WAERS,'')  AS PRICE,
							'd' AS Dummy
						INTO dgdb_PL_ScheduledJobs..txMBEW_VERPR_MR21_STDC_BAPI
						FROM dgdb_PL_ScheduledJobs..PriceData	
						WHERE Company_WAERS <> 'IDR' 
								AND ((UpdateComment_VERPR IN ('UPDATE CURR DIFF','UPDATE SAME CURR')	OR 				
						 (UpdateComment_VERPR IN ('UPDATE CURR DIFF','UPDATE SAME CURR','NO UPDATE, STOCK') AND WERKS = '6001')))
						INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Create Table txMBEW_VERPR_MR21_BAPI','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))										
					END


				IF @exportType = 'BDC'
					BEGIN
						SET @StartDate = GETDATE()
						IF OBJECT_ID('dgdb_PL_ScheduledJobs..txMBEW_VERPR_MR21_STDC') IS NOT NULL 
							BEGIN 					
								DROP TABLE dgdb_PL_ScheduledJobs..txMBEW_VERPR_MR21_STDC
							END

						SELECT REPLACE(CONVERT(NVARCHAR(10), GETDATE(), 101),'/','') AS BUDAT ,
								BUKRS AS BUKRS ,
								WERKS ,
								'WeeklyFX' AS REFERENCE,
								MATNR ,	
								dgdb_pl.dbo.fnFormatCostPrice (EFFPR_Local,Company_WAERS,'') AS NewPrice,
								'd' AS Dummy
							INTO dgdb_PL_ScheduledJobs..txMBEW_VERPR_MR21_STDC
							FROM dgdb_PL_ScheduledJobs..PriceData
							WHERE Company_WAERS <> 'IDR' 
								AND ((UpdateComment_VERPR IN ('UPDATE CURR DIFF','UPDATE SAME CURR')	OR 				
						 (UpdateComment_VERPR IN ('UPDATE CURR DIFF','UPDATE SAME CURR','NO UPDATE, STOCK') AND WERKS = '6001')))
							ORDER BY WERKS DESC
						INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Create Table txMBEW_VERPR_MR21_STDC','',SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@StartDate,GETDATE()))										
					END

		END TRY

		BEGIN CATCH
			PRINT ERROR_MESSAGE()
			INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'Error',ERROR_MESSAGE(),SYSTEM_USER,GetDate(),@@RowCOUNT,DATEDIFF(SECOND,@CurrentDate,GETDATE()))								
			RETURN
		END CATCH

		
		INSERT INTO dgdb_PL_ScheduledJobs..ProcessLog (prlProcess , prlProcessStep , prlComment ,prlUser , prlStartTime , prlRowCount , prlDuration) VALUES (@prlProcess,'END','',SYSTEM_USER,GetDate(),0,DATEDIFF(SECOND,@CurrentDate,GETDATE()))								

	END
GO
