USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spCheckMaterialProcessStatus_bkp16052019]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
-- EXEC spCheckMaterialProcessStatus 'BDA_MM_UL_E03', 'PIR_COND'  
ALter PROCEDURE [dbo].[spCheckMaterialProcessStatus_bkp16052019_MM](  
 --@AhrId INT,  
 @SourceDB NVARCHAR(100)  
 , @JobToMove NVARCHAR(50)  
)  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
   
 --INSERT INTO BDA_MM_Ul_E03.dbo.TaskStatusLog VALUES('AhrStatus','Start', GETDATE());  
   
 DECLARE @MaraPendingCount INT = 0  
  , @PIRPendingCount INT = 0  
  , @PIR_CONDPendingCount INT = 0  
  , @SListPendingCount INT = 0  
  , @SQL NVARCHAR(MAX)  
  , @MdmTicket INT  
  , @AhrId INT;  
    
 IF(OBJECT_ID('TEMPDB..#TBL0') IS NOT NULL)  
 BEGIN  
  DROP TABLE #TBL1  
 END  
 CREATE TABLE #TBL1(ahrId INT, ahrMDMTicket INT, IsProcessed BIT);  
    
 SET @SQL = 'SELECT ahrId, ahrMDMTicket, 0 FROM DGDB_ADHOC_DEV.dbo.AdhocRequest WHERE ahrSstCode = 33;';  
 INSERT INTO #TBL1  
 EXECUTE(@SQL);  
   
 WHILE (SELECT TOP 1 1 FROM #TBL1 WHERE ISProcessed = 0) = 1  
 BEGIN  
  SELECT TOP 1 @MdmTicket = ahrMDMTicket, @AhrId = ahrId FROM #TBL1 WHERE ISProcessed = 0;  
  
  --PRINT 'MDMTIcket: ' + CAST(@MDMTicket AS NVARCHAR(50));  
  --PRINT 'AhrId: ' + CAST(@AhrId AS NVARCHAR(10));  
  
  SET @SQL = N'SELECT @MaraPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utMM_MARA WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
  EXEC SP_EXECUTESQL @SQL, N'@MaraPendingCount INT OUTPUT', @MaraPendingCount OUTPUT;  
  
  SET @SQL = N'SELECT @PIRPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utMM_PIR_CREATEINFO WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
  EXEC SP_EXECUTESQL @SQL, N'@PIRPendingCount INT OUTPUT', @PIRPendingCount OUTPUT;  
  
  SET @SQL = N'SELECT @PIR_CONDPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utMM_PIR_COND WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
  EXEC SP_EXECUTESQL @SQL, N'@PIR_CONDPendingCount INT OUTPUT', @PIR_CONDPendingCount OUTPUT;  
  
  SET @SQL = N'SELECT @SListPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utmm_srcheader WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
  EXEC SP_EXECUTESQL @SQL, N'@SListPendingCount INT OUTPUT', @SListPendingCount OUTPUT;  
  
  --PRINT 'MaraPendingCount: ' + CAST(@MaraPendingCount AS NVARCHAR(50));  
  --PRINT '@PIRPendingCount: ' + CAST(@PIRPendingCount AS NVARCHAR(10));  
  --PRINT '@PIR_CONDPendingCount: ' + CAST(@PIR_CONDPendingCount AS NVARCHAR(10));  
  --PRINT '@SListPendingCount: ' + CAST(@SListPendingCount AS NVARCHAR(10));  
  
  IF (@MaraPendingCount = 0 AND @PIRPendingCount = 0 AND @SListPendingCount = 0 AND @PIR_CONDPendingCount = 0)  
  BEGIN  
   UPDATE DGDB_ADHOC_DEV.dbo.AdHocRequest SET ahrSstCode = 40 WHERE AhrId = @AhrId;  
  END  
  ELSE  
  BEGIN  
   SET @SQL = N'SELECT @MaraPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utMM_MARA A  
   INNER JOIN ' + @SourceDB + '.dbo.IDOC_STATUS B ON B.DOCNUM = A.IDOC_NUM   
   WHERE STATUS = 51 AND zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
   EXEC SP_EXECUTESQL @SQL, N'@MaraPendingCount INT OUTPUT', @MaraPendingCount OUTPUT;  
   --PRINT (@SQL);  
  
   SET @SQL = N'SELECT @PIRPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utMM_PIR_CREATEINFO  A  
   INNER JOIN ' + @SourceDB + '.dbo.PIR_IDOC_STATUS B ON B.DOCNUM = A.IDOC_NUM   
   WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
   EXEC SP_EXECUTESQL @SQL, N'@PIRPendingCount INT OUTPUT', @PIRPendingCount OUTPUT;  
   --PRINT (@SQL);  
  
   SET @SQL = N'SELECT @PIR_CONDPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utMM_PIR_COND A   
   INNER JOIN ' + @SourceDB + '.dbo.PIRCOND_IDOC_STATUS B ON B.DOCNUM = A.IDOC_NUM   
   WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
   EXEC SP_EXECUTESQL @SQL, N'@PIR_CONDPendingCount INT OUTPUT', @PIR_CONDPendingCount OUTPUT;  
   --PRINT (@SQL);  
  
   SET @SQL = N'SELECT @SListPendingCount = COUNT(*) FROM ' + @SourceDB + '.dbo.utmm_srcheader A   
   INNER JOIN ' + @SourceDB + '.dbo.SRCLST_IDOC_STATUS B ON B.DOCNUM = A.IDOC_NUM   
   WHERE zTicketNumber = ' + CAST(@MdmTicket AS NVARCHAR(10));  
   EXEC SP_EXECUTESQL @SQL, N'@SListPendingCount INT OUTPUT', @SListPendingCount OUTPUT;  
   --PRINT (@SQL);  
  
   IF (@MaraPendingCount > 0 OR @PIRPendingCount > 0 OR @SListPendingCount > 0 OR @PIR_CONDPendingCount > 0)  
   BEGIN  
    UPDATE DGDB_ADHOC_DEV.dbo.AdHocRequest SET ahrSstCode = 37 WHERE AhrId = @AhrId;  
   END  
  
  END  
  
  UPDATE #TBL1 SET ISProcessed = 1 WHERE ahrId = @AhrId;  
 END  
   
 SET @SQL = 'UPDATE ' + @SourceDB + '.dbo.cfProcessControl   
 SET Status = 4  
 WHERE ProcessJobName = ''' + @JobToMove + '''';  
 PRINT @SQL;  
 print '113';
 print '114';
 EXEC(@SQL);  
   
 --INSERT INTO BDA_MM_Ul_E03.dbo.TaskStatusLog VALUES('AhrSttus','End', GETDATE());  
   
END
GO
