USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGlobalAdhocsAuomationStatistics]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGlobalAdhocsAuomationStatistics]
AS
BEGIN

	DECLARE @xml NVARCHAR(MAX), @body NVARCHAR(MAX);

	--SELECT A.SrcId
	--	, A.TicketNumber
	--	, CASE WHEN A.SourceDB = 'BDA_MM_UL_EP1' THEN 'Queue1' 
	--		WHEN A.SourceDB = 'BDA_MM_UL_EP1_2' THEN 'Queue2' 
	--		WHEN A.SourceDB = 'BDA_MM_UL_EP1_3' THEN 'Queue3' 
	--		WHEN A.SourceDB = 'BDA_MM_UL_EP1_4' THEN 'Queue4' 
	--	END AS QueueProcessed
	--	, A.[Processing Start Time]
	--	, COALESCE(A.[SP Execution Completion Time], B.[SP Execution Completion Time], c.[SP Execution Completion Time])  AS [SP Execution Completion Time]
	--	, COALESCE(A.[Processing End Time], B.[Processing End Time], C.[Processing End Time]) AS [Processing End Time]
	--	, COALESCE(A.[Duration - SP Execution], B.[Duration - SP Execution], C.[Duration - SP Execution]) AS [Duration - SP Execution]
	--	, COALESCE(A.[Duration - Total Processing], B.[Duration - Total Processing], C.[Duration - Total Processing]) AS [Duration - Total Processing]
	--	, CASE WHEN A.[Processing End Time] IS NOT NULL THEN 'Completed through Automation'
	--		WHEN B.[Processing End Time] IS NOT NULL THEN 'Issue in SP Execution. Processed Manually'
	--		WHEN C.[Processing End Time] IS NOT NULL THEN  'Issue in Processing. Processed Manually'
	--		ELSE 'Srcid Processing in progress' END AS Comment
	--INTO #temp
	--FROM (
	--	SELECT AL.SrcId
	--		, TicketNumber
	--		, SourceDB
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Start SP 30' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [Processing Start Time]
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Data insertion Complete. Start ODS Jobs' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [SP Execution Completion Time]
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description IN ('Processing Complete') AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [Processing End Time]
	--		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, MIN(DateInserted), (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Data insertion Complete. Start ODS Jobs' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber)), 0), 108) AS [Duration - SP Execution]
	--		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, MIN(DateInserted), MAX(DateInserted)), 0), 108) AS [Duration - Total Processing]
	--	FROM dgdb_PL.._AutomationProcessLog AL
	--	WHERE AL.SrcId IS NOT NULL 
	--		AND AL.TicketNumber IS NOT NULL
	--		AND CONVERT(DATE, DateInserted) >= CONVERT(DATE, GETDATE()-1)
	--		AND LEN(AL.SrcId) = 3
	--	GROUP BY AL.SrcId, TicketNumber, SourceDB
	--	--ORDER BY [Processing Start Time]
	--) AS A
	--INNER JOIN (
	--	SELECT AL.SrcId
	--		, TicketNumber
	--		, SourceDB
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Start SP 30' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [Processing Start Time]
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Data insertion Complete. Start ODS Jobs' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [SP Execution Completion Time]
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description IN ('SP Execution Issues') AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [Processing End Time]
	--		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, MIN(DateInserted), (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Data insertion Complete. Start ODS Jobs' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber)), 0), 108) AS [Duration - SP Execution]
	--		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, MIN(DateInserted), MAX(DateInserted)), 0), 108) AS [Duration - Total Processing]
	--	FROM dgdb_PL.._AutomationProcessLog AL
	--	WHERE AL.SrcId IS NOT NULL 
	--		AND AL.TicketNumber IS NOT NULL
	--		AND CONVERT(DATE, DateInserted) >= CONVERT(DATE, GETDATE()-1)
	--		AND LEN(AL.SrcId) = 3
	--	GROUP BY AL.SrcId, TicketNumber, SourceDB
	--)  AS B ON B.SrcId = A.SrcId AND B.TicketNumber = A.TicketNumber
	--INNER JOIN (
	--	SELECT AL.SrcId
	--		, TicketNumber
	--		, SourceDB
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Start SP 30' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [Processing Start Time]
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Data insertion Complete. Start ODS Jobs' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [SP Execution Completion Time]
	--		, (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description IN ('Processing Issues') AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber) AS [Processing End Time]
	--		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, MIN(DateInserted), (SELECT TOP 1 DateInserted FROM dgdb_PL.._AutomationProcessLog WHERE Description = 'Data insertion Complete. Start ODS Jobs' AND SrcId = AL.SrcId AND TicketNumber = AL.TicketNumber)), 0), 108) AS [Duration - SP Execution]
	--		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, MIN(DateInserted), MAX(DateInserted)), 0), 108) AS [Duration - Total Processing]
	--	FROM dgdb_PL.._AutomationProcessLog AL
	--	WHERE AL.SrcId IS NOT NULL 
	--		AND AL.TicketNumber IS NOT NULL
	--		AND CONVERT(DATE, DateInserted) >= CONVERT(DATE, GETDATE()-1)
	--		AND LEN(AL.SrcId) = 3
	--	GROUP BY AL.SrcId, TicketNumber, SourceDB
	--) AS C ON C.SrcId = B.SrcId AND C.TicketNumber = B.TicketNumber
	--ORDER BY [Processing Start Time] DESC

	SELECT DISTINCT 
		srpSrcID
		, S.srpSPTicketNumber
		, srpSystem
		, MIN(srpLogdate) AS [Processing Start Time]
		, MAX(srpLogDate) AS [Processing End Time]
		, MAX(srpErrorMessage) AS srpErrorMessage
		, SC.srcName
		, SC.srcVendorCode
	INTO #TKTs
	FROM dgdb_PL..cfsourceprocessingLog S WITH (NOLOCK)
	INNER JOIN DGDB_PL..cfSource SC ON SC.srcId = S.srpSrcId
	where (srpSPTicketNumber <> '0' AND srpSPTicketNumber IS NOT NULL AND srpSPTicketNumber <> '')
		and (srpSrcID <> '0' AND srpSrcID IS NOT NULL AND srpSrcID <> '')
		AND LEN(srpSrcID) = 3
		AND CONVERT(DATE, srpLogDate) >= CONVERT(DATE, GETDATE()-1) 
	GROUP BY srpSrcID, CONVERT(DATE, srpLogdate), srpSPTicketNumber, srpSystem, srcName, srcVendorCode

	SELECT SrcId
		, srcName AS [Source Name]
		, srcVendorCode AS [Vendor Code]
		, [Processing Start Time]
		, [Processing End Time]
		, [Ticket Number]
		, CASE WHEN [Ticket Number] IS NULL THEN 'Manual' ELSE Processed END AS Processed 
		, [Queue Processed] AS [Queue]
		, [Error Message]
		, System AS [System]
		, CONVERT(VARCHAR, DATEADD(s, DATEDIFF(SS, [Processing Start Time], [Processing End Time]), 0), 108) AS Duration
		, DATEDIFF(ss, [Processing Start Time], [Processing End Time]) AS DurationInSecs
		, ISNULL(RecordCount,0) AS RecordCount
	INTO #TkTData
	FROM (
		SELECT DISTINCT RES.srpSrcID AS SrcId
			, MIN([Processing Start Time]) AS [Processing Start Time]
			, MAX([Processing End Time]) AS [Processing End Time] 
			, TicketNumber AS [Ticket Number]
			, Processed
			, CASE WHEN RES.SourceDB = 'BDA_MM_UL_EP1' THEN 'Queue 1' 
				WHEN RES.SourceDB = 'BDA_MM_UL_EP1_2' THEN 'Queue 2' 
				WHEN RES.SourceDB = 'BDA_MM_UL_EP1_3' THEN 'Queue 3' 
				WHEN RES.SourceDB = 'BDA_MM_UL_EP1_4' THEN 'Queue 4'
				ELSE 'MANUAL'
			END AS [Queue Processed]
			, srpErrorMessage AS [Error Message]
			, srpSystem AS [System]
			, srcName
			, srcVendorCode
			, MAX(RecordCount) AS RecordCount
		FROM (
			SELECT DISTINCT B.srpSrcID
				, B.[Processing Start Time]
				, B.[Processing End Time] 
				, CASE WHEN AL.TicketNumber IS NOT NULL THEN AL.TicketNumber ELSE B.srpSPTicketNumber END AS TicketNumber
				, AL.SourceDB
				, CASE WHEN EXISTS (SELECT DISTINCT srpsstCode FROM DGDB_PL..cfSourceProcessingLog S WITH (NOLOCK) WHERE S.srpSrcID = B.srpSrcID 
										AND S.srpSPTicketNumber = B.srpSPTicketNumber AND S.srpsstCode IN (38,37))
						THEN 'Failed in Automation, continued manually'
						WHEN NOT EXISTS (SELECT DISTINCT srpsstCode FROM DGDB_PL..cfSourceProcessingLog S WITH (NOLOCK) WHERE S.srpSrcID = B.srpSrcID 
										AND S.srpSPTicketNumber = B.srpSPTicketNumber AND S.srpsstCode IN (34)) 
						THEN 'Manual'
						ELSE 'Automation'
				END AS Processed
				, srpErrorMessage
				, srpSystem
				, srcName
				, srcVendorCode
				, RecordCount
			FROM #TKTs B
			LEFT OUTER JOIN DGDB_PL.._AutomationProcessLog AL ON B.srpSrcID = AL.SrcId AND AL.TicketNumber LIKE '%' + B.srpSPTicketNumber + '%'
		) RES
		GROUP BY RES.srpSrcID, Processed, TicketNumber, RES.SourceDB, RES.srpErrorMessage, srpSystem, srcName, srcVendorCode
	) A
	ORDER BY A.[Processing Start Time] DESC;

	INSERT INTO DGDB_PL_DATA..AutomationTicketsSummary SELECT * FROM #TkTData;

	SET @xml = CAST(( SELECT 
		[SrcId] AS 'td','',
		[Source Name] AS 'td','', 
		[Vendor Code] AS 'td', '',
		[Processing Start Time] AS 'td','',
		[Processing End Time] AS 'td','',
		[Ticket Number] AS 'td','',
		[Processed] AS 'td','',
		[Queue] AS 'td','',
		[System] AS 'td','',
		[Duration] AS 'td','',
		[RecordCount] AS 'td','',
		[Error Message] AS 'td'
	FROM #TkTData 
	ORDER BY [Processing Start Time] DESC FOR XML PATH('tr'), ELEMENTS ) AS NVARCHAR(MAX));
	
	SET @body ='<html><body><H3>MDM Automation Tickets Summary</H3><table border = "1"><tr>
		<th> SrcId </th> 
		<th> Source Name </th> 
		<th> Vendor Code </th> 
		<th> Processing Start Time </th>
		<th> Processing End Time </th>
		<th> Ticket Number </th>
		<th> Processed </th>
		<th> Queue </th>
		<th> System </th>
		<th> Duration </th>
		<th> Record Count </th>
		<th> Error Message </th>
	</tr>';
	SET @body = @body + @xml +'</table></body></html>'
	
	EXEC msdb.dbo.sp_send_dbmail
		@profile_name = 'Email job Alerts',
		@body = @body,
		@body_format ='HTML',
		@recipients = 'tw_mdm@techwave.net', -- replace with your email address
		@subject = 'MDM Automation Tickets Summary' ;

	DROP TABLE #TKTs;
	DROP TABLE #TkTData;
END
GO
