USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spExecuteBDAProcedures]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExecuteBDAProcedures](
	@SrcIdList NVARCHAR(100)
	, @TargetDB NVARCHAR(20)
	, @TktNumber NVARCHAR(100)
	, @SAPSystem NVARCHAR(3)
	, @DB NVARCHAR(40)
	, @SAPClient NVARCHAR(3)
	, @srcGroup NVARCHAR(10)
	, @sstCode NVARCHAR(2)
	, @JobNr INT
	, @UpdateType SMALLINT
	, @RunSp50 BIT
	, @SapSystemDir1 VARCHAR(20)
)
AS
BEGIN
	BEGIN TRY
		DECLARE @SQL NVARCHAR(MAX)
			, @IsProceed BIT = 1
			, @MailBody VARCHAR(1000)
			, @MailSUbject VARCHAR(1000)
			, @NextJobToEnable NVARCHAR(100)
			, @RecordCount INT;
		--SELECT @SrcIdList = 733, @TktNumber = '61752|61753|61754'

		UPDATE cfSource SET srcProcessFlag = 0 where srcID = @SrcIdList;

		SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''AutoSP'', 1;';
		EXEC (@SQL);

		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'Start SP 30', @TktNumber, @TargetDB,  @SAPSystem;
				
		DECLARE @srId INT = CAST(@SrcIdList AS INT);

		EXEC dbo.spProcess30PrepareDBForLoad @srcID = @srId, -- int
			@ProcessDB = @DB, -- nvarchar(40)
			@SAPSystem = @SAPSystem, -- nvarchar(3)
			@SAPClient = @SAPClient, -- nvarchar(3)
			@srcGroup = @srcGroup, -- nvarchar(10)
			@srcSstCode = @sstCode; -- smallint
		
		/*Get JobNe#*/
		SELECT  @JobNr = spjID
		FROM    DGDB_PL__LOG..SourceProcessJob
		WHERE   spjID = ( SELECT MAX(spjID) FROM DGDB_PL__LOG..SourceProcessJob)
			AND DGDB_PL__LOG.dbo.SourceProcessJob.spjProcessDb = @DB;

		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'END SP 30', @TktNumber, @TargetDB,  @SAPSystem;

		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'Start SP 40', @TktNumber, @TargetDB,  @SAPSystem;
		
		/*Create TxTables*/
		EXEC spProcess40CreateExportTables_ME_TW_WithPIR @dbName = @DB, -- nvarchar(40)
			@InsertFlag = @UpdateType, -- smallint
			--@InsertFlag = 1, -- smallint
			@SAPSystem = @SAPSystem, -- nvarchar(3)
			@SAPClient = @SAPClient, -- nvarchar(3)
			@srcGroup = @srcGroup;

		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'END SP 40', @TktNumber, @TargetDB,  @SAPSystem;

		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'Start Check for Intercompany Stock Transfer', @TktNumber, @TargetDB,  @SAPSystem;

		SET @SQL = 'IF((SELECT COUNT(1) FROM ' + @DB + '..ttEINE WHERE zActive = 1 AND LEN(zLIFNR) = 4) = 
		(SELECT COUNT(1) FROM(
		SELECT DISTINCT A.zMATNR, A.zLIFNR, A.WERKS
		FROM ' + @DB + '..ttEINE A
		INNER JOIN ' + @DB + '..ttMARC B ON B.MATNR = A.zMATNR AND A.zLIFNR = B.WERKS
		WHERE LEN(A.zLIFNR) = 4 AND A.zActive = 1
		UNION 
		SELECT DISTINCT A.zMATNR, A.zLIFNR, A.WERKS
		FROM ' + @DB + '..ttEINE A
		INNER JOIN SAP_EP1_RT..MARC B WITH (NOLOCK) ON B.MATNR = A.zMATNR AND A.zLIFNR = B.WERKS
		WHERE LEN(A.zLIFNR) = 4 AND A.zActive = 1
		) A
		))
		BEGIN
		SET @IsProceed = 1;
		END
		ELSE
		BEGIN
		SET @IsProceed = 0;
		END'

		EXEC SP_EXECUTESQL @SQL, N'@IsProceed BIT OUTPUT', @IsProceed OUTPUT; 
		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'End Check for Intercompany Stock Transfer', @TktNumber, @TargetDB,  @SAPSystem;

		IF(@IsProceed = 1)
		BEGIN 
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'Start UT Tables Insertion', @TktNumber, @TargetDB,  @SAPSystem;
					
			EXEC SPInsertDataToUTTables @targetdb, 'WG0522', @DB, @SAPSystem, @SAPClient;		
					
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'END UT Tables Insertion', @TktNumber, @TargetDB,  @SAPSystem;

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'Start Update Row Counts', @TktNumber, @TargetDB,  @SAPSystem;
					
			/*Insert counts for the ticket processed*/
			SET @SQL = 'UPDATE ' + @TargetDB + '.[dbo].cfProcessControl 
			SET RecordCount = CASE ProcessJobName
			WHEN ''PH'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].UTMM_T179T WHERE zTicketNumber = ''' + @TktNumber + ''')
			WHEN ''MATMAS'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_MARA WHERE zTicketNumber = ''' + @TktNumber + ''')
			WHEN ''PIR'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_PIR_CREATEINFO WHERE zTicketNumber = ''' + @TktNumber + ''')
			WHEN ''PIR_COND'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_PIR_COND WHERE zTicketNumber = ''' + @TktNumber + ''')
			WHEN ''SRCLIST'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utmm_srcheader WHERE zTicketNumber = ''' + @TktNumber + ''')
			WHEN ''PIR_CLASS'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_PIR_CLASS WHERE zTicketNumber = ''' + @TktNumber + ''')
			WHEN ''MARA_CLASS'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_MARA_CLASS WHERE zTicketNumber = ''' + @TktNumber + ''')
			END'
			--PRINT (@SQL);
			EXEC(@SQL);

			--SELECT @SQL = 'SELECT SUM(ISNULL(RecordCount,0)) FROM ' + @TargetDB + '.[dbo].cfProcessControl';

			SET @SQL = N'SELECT @RecordCount = SUM(ISNULL(RecordCount,0)) FROM ' + @TargetDB + '.[dbo].cfProcessControl';
			EXEC SP_EXECUTESQL @SQL, N'@RecordCount INT OUTPUT', @RecordCount OUTPUT;

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem, RecordCount)  
			SELECT @SrcIdList, GETDATE(), 'End Update Row Counts', @TktNumber, @TargetDB,  @SAPSystem, @RecordCount;

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'Update SrcId Status to 34', @TktNumber, @TargetDB,  @SAPSystem;
					
			EXEC spBDA_UpdatesrcIdStatus @SrcIdList;
		
			SET @SQL = 'SELECT TOP 1 * FROM ' + @DB + '..tx179T_NewProdh_BDC';
			EXEC( @SQL );

			IF @@ROWCOUNT > 0
			BEGIN
				PRINT 'Product Hierarchy Data Exists';
				SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''PH'', 2;';
				EXEC (@SQL);
			END
			ELSE
			BEGIN
				PRINT 'No Product Hierarchy';

				SET @SQL = 'SELECT TOP 1 @NextJobToEnable = ProcessJobName
				FROM ' + @TargetDB + '.dbo.cfProcessControl 
				WHERE Sequence > (SELECT Sequence FROM ' + @TargetDB + '.dbo.cfProcessControl WHERE ProcessJobName = ''PH'') 
				AND RecordCount > 0
				ORDER BY Sequence;';
				EXEC SP_EXECUTESQL @SQL, N'@NextJobToEnable NVARCHAR(100) OUTPUT', @NextJobToEnable OUTPUT;

				SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''' + @NextJobToEnable + ''', 2;';
				EXEC (@SQL);
				--SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''PH'', 4;';
				--EXEC (@SQL);
			END

			IF @RunSp50 = 1
			BEGIN
				--/*Export tx Tables to File*/
				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
				SELECT @SrcIdList, GETDATE(), 'Start SP50', @TktNumber, @TargetDB,  @SAPSystem;
						
				EXEC dbo.spProcess50ExportLoadFiles_ME_TW_WithPIR @DB, 'TEST', @SapSystemDir1;
						
				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
				SELECT @SrcIdList, GETDATE(), 'End SP50', @TktNumber, @TargetDB,  @SAPSystem;
			END;

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'Data insertion Complete. Start ODS Jobs', @TktNumber, @TargetDB,  @SAPSystem;
		END
		ELSE
		BEGIN
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'Intercompany Stock transfer data Exists. Process Manually', @TktNumber, @TargetDB,  @SAPSystem;
					
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
			SELECT @SrcIdList, GETDATE(), 'SP Execution Issues', @TktNumber, @TargetDB,  @SAPSystem;
					
			UPDATE cfsource SET srcSstCode = 38 where srcID IN (@SrcIdList);
					
			SET @SQL = 'UPDATE ' + @TargetDB + '.dbo.cfProcessControl SET Status = 4;';
					
			EXEC (@SQL);
					
			SET @MailBody = 'Hi Team, Src Id: ' + CONVERT(VARCHAR, ISNULL(@SrcIdList,'')) + ', Ticket number: ' + CONVERT(VARCHAR, ISNULL(@TktNumber, '')) + ' has intercompany stock trasnfer data in PIR Creation. It is moved to 38 status. Please check.';
					
			EXEC msdb.dbo.sp_send_dbmail  
			@profile_name = 'Email job Alerts',  
			@recipients = 'tw_mdm@techwave.net',  
			@body = @MailBody,  
			@subject = 'SrcId has intercompany stock transfer data';
		END
	END TRY
	BEGIN CATCH
		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'Issue in processing. In Catch block', @TktNumber, @TargetDB,  @SAPSystem;
				
		INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), ERROR_MESSAGE(), @TktNumber, @TargetDB,  @SAPSystem;

		UPDATE cfsource SET srcSstCode = 38 where srcID IN (@SrcIdList);

		SET @SQL = 'UPDATE ' + @TargetDB + '.dbo.cfProcessControl SET Status = 4;';
		EXEC (@SQL);

		INSERT INTO DGDB_PL.._AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber, SourceDB, SrcSystem)  
		SELECT @SrcIdList, GETDATE(), 'SP Execution Issues', @TktNumber, @TargetDB,  @SAPSystem;

		--aaded on 10/Jul/2018 --Satish	   
		--Delete failed Ahrid data from UTtables
		EXECUTE('DELETE FROM ' + @TargetDB + '..UTMM_T179T WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MAKT WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARA WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARC WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARD WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARM WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MBEW WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MLAN WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MLGN WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MLGT WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MVKE WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..UTMM_MR21_PRICE WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PIR_COND WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PIR_CREATEINFO WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PRICECHANGE WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_SOURCELIST WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utmm_srcheader WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PIR_CLASS WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARA_CLASS WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		
		SET @MailBody = 'Hi Team, Src Id: ' + CONVERT(VARCHAR, ISNULL(@SrcIdList,'')) + ', Ticket number: ' + CONVERT(VARCHAR, ISNULL(@TktNumber, '')) + ' has issues in Combined Procedure execution. It is moved to 38 status. Please check.';

		EXEC msdb.dbo.sp_send_dbmail  
			@profile_name = 'Email job Alerts',  
			@recipients = 'tw_mdm@techwave.net',  
			@body = @MailBody,  
			@subject = 'SrcId execution has issues';
	END CATCH;
END
GO
