USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGetSrcInfo]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetSrcInfo]
	@srcID INTEGER ,
	@srcNamePattern NVARCHAR(400) = ''
AS
	DECLARE @RowCount BIT = 0,
	@SQL NVARCHAR(4000),
	@dbName NVARCHAR(80),
	@tblName NVARCHAR(80)


	IF @srcID <> 0
		BEGIN
			SELECT	@dbName = 	srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) ,
					@tblName = srcTableName
				FROM cfsource				
				WHERE srcID = @srcID

			SELECT	srgID,
					srgDescription,
					srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) AS dbName,
					'SELECT * FROM ' + srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) + '..' + srcTableName AS [SQL],
					dbo.cfSource.*
				FROM cfsource
				INNER JOIN dbo.cfSourceSourceGroup ON dbo.cfSourceSourceGroup.ssgSrcID = dbo.cfSource.srcID
				INNER JOIN dbo.cfSourceGroup ON dbo.cfSourceGroup.srgID = dbo.cfSourceSourceGroup.ssgSrgID
				WHERE srcID = @srcID
			
			SELECT TOP 1 @RowCount = 1 FROM vcfSourceFieldChangeOverride WHERE sfoSrcID  = @srcID
			IF @@RowCount = 1
				BEGIN
					SELECT 'vcfSourceFieldChangeOverride' AS SP20Overrides,* FROM vcfSourceFieldChangeOverride WHERE sfoSrcID  = @srcID ORDER BY sfoID
				END

			SET @SQL = '
				DECLARE @RowCount BIT = 0
				SELECT TOP 1 @RowCount = 1 FROM ' + @DBName + '..' + @tblName + '_Override
				IF @@RowCount = 1
					BEGIN
						SELECT ''' + @dbName + '_Override'' AS SP20Overrides, * FROM ' + @DBName + '..' + @tblName + '_Override
					END
					'
			PRINT @SQL
			EXEC (@SQL)
		END
	ELSE
		BEGIN
			SELECT	srgID,
					srgDescription,
					srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) AS dbName,
					'SELECT * FROM ' + srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) + '..' + srcTableName AS [SQL],
					cfSource.*
				FROM cfsource
				INNER JOIN dbo.cfSourceSourceGroup ON dbo.cfSourceSourceGroup.ssgSrcID = dbo.cfSource.srcID
				INNER JOIN dbo.cfSourceGroup ON dbo.cfSourceGroup.srgID = dbo.cfSourceSourceGroup.ssgSrgID
				WHERE srcName LIKE '%' + @srcNamePattern + '%'
				ORDER BY srcName

			SELECT TOP 1 @RowCount = 1 FROM vcfSourceFieldChangeOverride WHERE srcName LIKE '%' + @srcNamePattern + '%'
			IF @@RowCount = 1
				BEGIN
					SELECT 'vcfSourceFieldChangeOverride'  AS SP20Overrides,* FROM vcfSourceFieldChangeOverride WHERE srcName LIKE '%' + @srcNamePattern + '%' ORDER BY srcName,sfoID
				END
		END
GO
