USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess05DDPImport]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess05DDPImport] 

	@srcID nvarchar(20) = 16
AS
BEGIN
	
	SET NOCOUNT ON;

		SET TRANSACTION ISOLATION LEVEL 
		READ UNCOMMITTED 

		DECLARE 
			@SQL			NVARCHAR(4000),
			@SQLSelect		NVARCHAR(4000),			
			@DBName			NVARCHAR(40)		='',
			@DDPFile		NVARCHAR(255),
			@xlsTabName		NVARCHAR(255)
			

		/*Get the database name based on SourceID*/		 
		SELECT @DBName =  srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(@srcID AS NVARCHAR) FROM cfSource WHERE srcID = @srcID

		/* Check if SrcID is Cisco*/
		IF NOT EXISTS( SELECT * FROM dbo.cfSourceSourceGroup WHERE ssgSrgID = 1 AND ssgSrcID = @srcID)  --- Cisco Only)
			BEGIN
				PRINT 'srcID ' + CAST(@srcID AS NVARCHAR) +   ' is not a Cisco Pricelist ( <> srcGroup 1)'
				RETURN
			END
		
		SELECT @DDPFile = 
			CASE @SrcID
				WHEN '520' THEN '\\WG0218\MDMUpload\CA\Distribution_Pricing_Plus_Canada.xlsx'
				WHEN '521' THEN '\\WG0218\MDMUpload\AU\Distribution_Pricing_Plus_Australia.xlsx'
				WHEN '519' THEN '\\WG0218\MDMUpload\US\Distribution_Pricing_Plus_US.xlsx'
				--WHEN '51' THEN '\\WG0218\MDMUpload\EU\Distribution_Pricing_Plus_EU.xlsx'
				WHEN '522' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				ELSE '\\Oh\Big\Bummer'
			END
		
		SELECT @xlsTabName = 'Distribution_Pricing_Plus_' +
			CASE @SrcID
				WHEN '520' THEN 'Canad'
				WHEN '521' THEN 'AUstr'
				WHEN '519' THEN 'US-1'
				--WHEN '51' THEN 'EU'
				WHEN '522' THEN 'Asia_'
				WHEN '15' THEN 'Asia_'
				WHEN '366' THEN 'Asia_'
				WHEN '367' THEN 'Asia_'
				ELSE '\\Oh\Big\Bummer'
			END
				
		IF OBJECT_ID('tempdb..##DDP') IS NOT NULL BEGIN DROP TABLE ##DDP END	

		SET @SQLSelect = 'SELECT * FROM [' + @xlsTabName + '$A6:V200000] WHERE [Product] IS NOT NULL'
		
		SET @SQL = '
			IF OBJECT_ID(''' + @dbName + '..Cisco_DDP'') IS NOT NULL BEGIN DROP TABLE ' + @dbName + '..Cisco_DDP END;				
			SELECT * INTO ' + @dbName + '..Cisco_DDP
				FROM OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0;Database=' + @DDPFile + ';'',
				''' + @SQLSelect + ''')					
			'		
		EXEC (@SQL)
		PRINT @Dbname + '..Cisco_DDP Created, Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)


		
				

END
GO
