USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGenGeneratePH_Swathi_1]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXEC [spGenGeneratePH_Swathi_1] 'MARA',430,1
*/

CREATE PROCEDURE [dbo].[spGenGeneratePH_Swathi_1] 
	@Table NVARCHAR(40) = 'MARA',
	@srcID INTEGER=9,
	@DebugMode BIT = 0,
	@RowCount INTEGER = 0 OUTPUT
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	DECLARE 		
		@srcName NVARCHAR(50)='',
		@srcSrtCode NVARCHAR(4),
		@srcSystem NVARCHAR(3),
		@SAPDB NVARCHAR(40),
		@DBName NVARCHAR(40)='',
		@Matgr NVARCHAR(5),			
		@TableField NVARCHAR(10) ,
		@PH1Description NVARCHAR(255),
		@PH2Description NVARCHAR(255),
		@PH3Description NVARCHAR(255),	
		@PHHardCode BIT = 0,
		@SQL NVARCHAR(MAX)='',
		@SQLWhere NVARCHAR(500)='',
		@SQLPHExists NVARCHAR(500)= ' AND ISNULL(PRDHA,'''') = ''''',
		@NextNumber BIGINT,
		@NextNumber2 BIGINT,
		@NextNumber3 BIGINT,
		@Rowcount2 INT

	DECLARE @TableExists TABLE ( Exist BIT)
	DECLARE @TableNN TABLE ( NN BIGINT)
	DECLARE @TableVTEXT TABLE ( MATKL NVARCHAR(10),VTEXT2 NVARCHAR(255),VTEXT3 NVARCHAR(255), Done BIT )		
	--DECLARE @TableMatGroup TABLE (MATKL NVARCHAR(5), processed BIT)

	SELECT	@srcName = srcName,
		@srcSrtCode = srcSrtCode,
		@PH1Description = srcTableName,
		@Matgr = srcVendorCode ,
		@srcSystem = srcSystem,
		@SAPDB = trdDatabase
	FROM cfSource
	LEFT OUTER JOIN dbo.cfTargetData ON srcSystem = trdSystem
	WHERE srcid = @srcID;
	
	SET @DBName =  @srcSrtCode + @Matgr + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)

	/*Remove leading trailing sapces from PH in sourcefile*/
	/* In case Matgroup used is different from srcID*/
	SET @SQL = 'SELECT DISTINCT MaterialGroup AS MATKL, 0 as processed FROM ' + @DBName + '..SourceFileExtract'
	--INSERT INTO @TableMatGroup EXEC (@SQL);
	--SELECT @Matgr = MATKL FROM @TableMatGroup
	
	CREATE TABLE #TableMatGroup(MATKL NVARCHAR(50), processed BIT);
	INSERT INTO #TableMatGroup EXEC (@SQL);

	WHILE((SELECT TOP 1 1 FROM #TableMatGroup WHERE processed = 0) = 1)
	BEGIN

		SELECT TOP 1 @Matgr = MATKL FROM #TableMatGroup WHERE processed = 0;

		/*CHeck if SourceFileExtract exists*/
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''SourceFileExtract''';
		INSERT INTO @TableExists EXEC (@SQL)	
		
		IF ISNULL(@@ROWCOUNT,0) = 0
		BEGIN
			PRINT ''
			PRINT 'Cannot find Table SourceFileExtract in Database ''' + @DBName + ''''
			RETURN
		END

		/*CREATE PH structure T179T in Target DB*/
		EXEC dgdb..spGenDropOrCheckTable 'ttT179T_Bkp',@DBName,1;
										
		SET @SQL = 'SELECT PRODH, VTEXT, ''E'' AS SPRAS
				, STUFE AS zSTUFE
				, CAST(ISNULL(zLegacyText,VTEXT) AS NVARCHAR(255)) AS ZLegacyText
				, PRODH1 AS zPRODH1, PRODH2 AS zPRODH2, PRODH3 AS zPRODH3
				, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID,ZinSAP
				, 0 as zChange,zActive,CAST(NULL AS BIT) as zDGError  
			INTO ' + @dbName + '.dbo.ttT179T_Bkp 
			FROM cfPH_BKP WHERE cfPH_BKP.zActive = 1 AND PRODH1 IN (SELECT DISTINCT MaterialGroup FROM ' + @DBName + '..SourceFileExtract)';
			--FROM cfPH_BKP WHERE cfPH_BKP.zActive = 1 AND PRODH1 = ' + @Matgr;
		PRINT 'Line 100:' + @SQL;
		EXEC (@SQL)

		/*NOT NEEDED BUT IN CASE PRDHA <> PRODH*/
		IF @Table = 'MARA' 
		BEGIN
			SET @TableField = 'PRDHA'
		END
		ELSE
		BEGIN
			SET @TableField = 'PRODH'		--MVKE
		END

		/*CHeck if SourceFileExtract.ProductHierarchy exists, PH is Hardcoded*/
		/* ISSUE no validation if PH exists*/
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''ProductHierarchy'''
		INSERT INTO @TableExists EXEC (@SQL)

		IF ISNULL(@@ROWCOUNT,0) > 0
		BEGIN
			SET @PHHardCode = 1
			SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' =  ProductHierarchy FROM ' + @dbName + '..tt' + @Table + 
			' INNER JOIN ' + @dbName + '.dbo.SourceFileExtract ON Matnr = Material '
			EXEC (@SQL)
			--IF @DebugMode = 1 BEGIN PRINT @SQL END
			UPDATE #TableMatGroup SET processed = 1 where MATKL = @Matgr;
			GOTO SET_Active
		END

		/*Check IF PH1 EXISTS, If Not Create PH1 */		
		SET @SQL = 'SELECT DISTINCT 1 FROM ' + @dbName + '.dbo.ttT179T_Bkp WHERE zSTUFE = 1'
		INSERT INTO @TableExists EXEC (@SQL);

		IF ISNULL(@@ROWCOUNT,0) = 0   -- PH1 Does not Exists
		BEGIN
			/*ttT179T_Bkp*/
			SET @SQL = 'INSERT INTO ' + @dbName + '..ttT179T_Bkp SELECT ''' + @Matgr + ''' AS PRODH, ''' + LEFT(@PH1Description,40) + ''' AS VTEXT, ''E'' AS SPRAS, 1 as zSTUFE,
			''' + @PH1Description + ''' AS zLegacyText, ''' + @Matgr + ''' AS zPRODH1, '''' as zPRODH2, '''' AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID, 0 AS ZinSAP,0 as zChange,0 AS zActive,CAST(NULL AS BIT) as zDGError;'				
			EXEC (@SQL);
		END
		
		DELETE FROM @TableExists;
		
		-- Check if zLegacyPH2 EXISTS
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH2'''
		INSERT INTO @TableExists EXEC (@SQL);

		IF ISNULL(@@ROWCOUNT,0) <> 0
		BEGIN
			SET @SQLWhere = ' AND ISNULL(zLegacyPH2,'''') = '''''
		END	
						
		-- Check if zLegacyPH3 EXISTS
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH3'''
		INSERT INTO @TableExists EXEC (@SQL);

		IF ISNULL(@@ROWCOUNT,0) <> 0
		BEGIN
			SET @SQLWhere = @SQLWhere + ' AND ISNULL(zLegacyPH3,'''') = '''''
		END

		SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' =  ttT179T_Bkp.PRODH 
		FROM ' + @dbName + '..tt' + @Table + ' 
		INNER JOIN ' + @dbName + '.dbo.ttT179T_Bkp ON ttT179T_Bkp.PRODH = MATKL WHERE zSTUFE = 1 ' + @SQLWhere + @SQLPHExists;
		EXEC (@SQL);

		SET @RowCount = @@ROWCOUNT				
		--IF @DebugMode = 1 BEGIN PRINT @SQL END

		/*Check for if ZlegacyPH2 or  EXists*/
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH2'';'
		DELETE FROM @TableExists
		INSERT INTO @TableExists EXEC (@SQL);
						
		IF ISNULL(@@ROWCOUNT,0) > 0   -- ZlegacyPH2 EXists
		BEGIN						
			/*Look for any new Nodes*/
			/*remove leading / trailing spaces*/
			SET @SQL = 'UPDATE ' + @DBName + '..SourceFileExtract 
			SET zLegacyPH2 = LTRIM(RTRIM(zLegacyPH2)) 
			WHERE LEFT(zLegacyPH2,1) = '' '' OR RIGHT(zLegacyPH2,1) = '' ''';
			EXEC (@SQL);

			SET @SQL = 'SELECT DISTINCT MATKL,zLegacyPH2 AS zLegacyPH2,'''',0 
			FROM ' + @dbName + '..tt' + @Table + ' 
			LEFT OUTER JOIN ' + @dbName + '.dbo.ttT179T_Bkp ON zLegacyText = zLegacyPH2 
				AND zSTUFE = 2 WHERE ISNULL(zLegacyText,'''') = '''' AND LEN(zLegacyPH2) > 0 AND MATKL = ' + @Matgr;
			PRINT 'Line 185:' + @SQL;
			INSERT INTO @TableVTEXT EXEC (@SQL);

			--EXEC [spGenGeneratePH_Swathi] 'MARA',298,1

			IF ISNULL(@@ROWCOUNT,0) > 0   -- PH2 EXists
			BEGIN
				PRINT 'Line 191:';
				WHILE (SELECT TOP 1 1 FROM @TableVTEXT WHERE done = 0 ORDER BY VTEXT2) = 1
				BEGIN
				
					PRINt 'LINE 195:';
					SELECT TOP 1 @PH2Description = LTRIM(RTRIM(VTEXT2)),@Matgr = MATKL FROM @TableVTEXT WHERE done = 0	ORDER BY LTRIM(RTRIM(VTEXT2));
					
					/* Create Dummy NumberRange to get the lowest free number*/
					SET @SQL = 'SELECT MAX(PRODH) + 1 FROM ( SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,5))) AS PRODH FROM cfPH_BKP WHERE STUFE = 2 AND PRODH1 = ' + @Matgr + ''
					SET @SQL = @SQL + '  UNION SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,5)))AS PRODH FROM ' + @dbName + '.DBO.ttT179T_Bkp WHERE ZSTUFE = 2 AND zPRODH1 = ' + @Matgr + ' )  T '										
					PRINT 'InzLegacy2creation:' + @SQL;
					
					INSERT INTO @TableNN EXEC (@SQL);

					SELECT @NextNumber = CASE WHEN LEN(NN) <= 5 THEN CAST(CAST(@Matgr AS NVARCHAR)+ RIGHT('0000'+CAST(NN AS NVARCHAR),5) AS NVARCHAR) ELSE NN END FROM @TableNN			
					SET @SQL = 'INSERT INTO ' + @dbName + '..ttT179T_Bkp SELECT ' + CAST(@NextNumber AS NVARCHAR) + ' AS PRODH, ''' + LEFT(@PH2Description,40) + '''  AS Vtext,  ''E'' AS SPRAS,2 as zSTUFE, ''' + @PH2Description + '''  AS zLegacyText,' 
					SET @SQL = @SQL + 'LEFT(' + CAST(@NextNumber AS NVARCHAR) + ',5) AS zPRODH1, ' + CAST(@NextNumber AS NVARCHAR) + ' as zPRODH2, '''' AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID, 0 AS ZinSAP,0 as zChange,0 AS zActive,CAST(NULL AS BIT) as zDGError'			
					EXEC (@SQL)

					DELETE FROM @TableNN
					UPDATE @TableVTEXT SET Done = 1 WHERE VTEXT2 = @PH2Description
				END	
				DELETE FROM @TableVTEXT
			END							
			/* Update TargetFile with PH2 Node#*/
			SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' =  ttT179T_Bkp.PRODH FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T_Bkp ON zLegacyText = zLegacyPH2 WHERE zSTUFE = 2 AND ISNULL(zLegacyPH3,'''') = ''''' --+ @SQLPHExists 									
			EXEC (@SQL);
			
			SET @RowCount = @RowCount  + @@ROWCOUNT				
		END

		/*Check for if ZlegacyPH3 or zLegacyPH2 EXists*/
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH3'';'
		DELETE FROM @TableExists
		INSERT INTO @TableExists EXEC (@SQL);
			
		IF ISNULL(@@ROWCOUNT,0) > 0   -- PH3 EXists
		BEGIN	
			/*remove leading / trailing spaces*/
			SET @SQL = 'UPDATE ' + @DBName + '..SourceFileExtract SET zLegacyPH3 = LTRIM(RTRIM(zLegacyPH3)) WHERE LEFT(zLegacyPH3,1) = '' '' OR RIGHT(zLegacyPH3,1) = '' '''
			EXEC (@SQL);
			
			/*Look for any new Nodes within the right PH2 */
			SET @SQL = 'SELECT DISTINCT MATKL,zLegacyPH2 AS zLegacyPH2,zLegacyPH3 AS zLegacyPH3, ttT179T_Bkp.PRODH AS PH2 INTO #TMP FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T_Bkp ON zLegacyText = zLegacyPH2 WHERE LEN(PRODH) = 10 AND MATKL = ' + @Matgr + ';' 
			SET @SQL = @SQL + 'SELECT MATKL,zLegacyPH2,zLegacyPH3,0 as Done FROM #TMP LEFT OUTER JOIN ' + @dbName + '.dbo.ttT179T_Bkp A ON zLegacyText = zLegacyPH3  AND zPRODH2 = PH2 AND A.zSTUFE = 3 WHERE ISNULL(A.zLegacyText,'''') = ''''  AND ISNULL(zLegacyPH3,'''') <> '''''							
			--IF @DebugMode = 1 BEGIN PRINT @SQL END
			INSERT INTO @TableVTEXT EXEC (@SQL);

			IF ISNULL(@@ROWCOUNT,0) > 0   -- PH3 Does not Exist within PH2 Node
			BEGIN		
				--select * from  @TableVTEXT						
				WHILE (SELECT TOP 1 1 FROM @TableVTEXT WHERE done = 0 ORDER BY VTEXT2,VTEXT3) = 1
				BEGIN
					SELECT TOP 1 @Matgr = MATKL, @PH2Description = VTEXT2,@PH3Description = VTEXT3 FROM @TableVTEXT WHERE done = 0 ORDER BY VTEXT2,VTEXT3	

					/* Get PH2 Node NUmber*/
					SET @SQL = 'SELECT TOP 1 PRODH FROM ' + @dbName + '.dbo.ttT179T_Bkp WHERE zSTUFE = 2 AND zLegacyText =  ''' + @PH2Description + ''''
					INSERT INTO @TableNN EXEC (@SQL);

					SELECT @NextNumber2 = NN FROM @TableNN										
					DELETE FROM @TableNN;

					/*Check If new Node 3 already exists within another PH2 annd take that Node number*/
					SET @SQL = ' SELECT TOP 1 RIGHT(zPRODH3,8) FROM ' + @dbName + '.dbo.ttT179T_Bkp WHERE zSTUFE = 3 AND zLegacyText =  ''' + @PH3Description + ''''										
					INSERT INTO @TableNN EXEC (@SQL);

					SET @Rowcount = @@ROWCOUNT																														
					SET @Rowcount2 = 0
					
					IF @RowCount = 1
					--Check if the new derived PH3 already exists with a different description, if Yes create a new PH3 code
					BEGIN

						SELECT @NextNumber = CAST(CAST(@NextNumber2 AS NVARCHAR)+ RIGHT('0000000'+CAST(NN AS NVARCHAR),8) AS NVARCHAR) FROM @TableNN
						PRINT 'PH2 found is : ' + CONVERT(VARCHAR,@NextNumber)

						-- check if the new PH3 has a different description
						DELETE FROM @TableNN
						SET @SQL = ' SELECT TOP 1 RIGHT(zPRODH3,8) FROM ' + @dbName + '.dbo.ttT179T_Bkp WHERE zSTUFE = 3 AND convert(varchar,prodh) = ''' + CONVERT(VARCHAR,@NextNumber) + ''' and zLegacyText <>  ''' + @PH3Description + ''''										
						INSERT INTO @TableNN EXEC (@SQL);

						SET @Rowcount2 = @@ROWCOUNT

					END
					--PRINT 'Rowcount2 is: ' + CONVERT(VARCHAR,@Rowcount2) + 'Rowcount is:' + CONVERT(VARCHAR,@Rowcount)
					IF (@Rowcount = 0 OR @Rowcount2 >0)
					BEGIN
						/* does not already exists, GET MAX PH3 Node Within PH2 Node*/
						SET @SQL = ' SELECT MAX(PRODH) + 1 FROM ( SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,8))) AS PRODH  FROM cfPH_BKP WHERE STUFE = 3 AND PRODH1 = ' + @Matgr + ''
						SET @SQL = @SQL + ' UNION SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,8)))AS PRODH FROM ' + @dbName + '.DBO.ttT179T_Bkp WHERE ZSTUFE = 3 AND zPRODH1 = ' + @Matgr + ' )  T '																											
						INSERT INTO @TableNN EXEC (@SQL);

						SELECT @NextNumber = CAST(CAST(@NextNumber2 AS NVARCHAR)+ RIGHT('0000000'+CAST(NN AS NVARCHAR),8) AS NVARCHAR)  FROM @TableNN
						--IF @DebugMode = 1 BEGIN PRINT @SQL END
					END

					SET @SQL = 'INSERT INTO ' + @dbName + '..ttT179T_Bkp SELECT ' + CAST(@NextNumber AS NVARCHAR) + ' AS PRODH, ''' + LEFT(@PH3Description,40) + '''  AS VText, ''E'' AS SPRAS,3 as zSTUFE, ''' + @PH3Description + '''  AS zLegacyText, 
					LEFT(' + CAST(@NextNumber AS NVARCHAR) + ',5) AS zPRODH1, LEFT(' + CAST(@NextNumber2 AS NVARCHAR) + ',10) as zPRODH2,'
					SET @SQL = @SQL + '' + CAST(@NextNumber AS NVARCHAR) + ' AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID,0 as zInSAP,0 as zChange,0 as zActive,0 as zDGError'	
					EXEC (@SQL);

					DELETE FROM @TableNN
					UPDATE @TableVTEXT SET Done = 1 WHERE VTEXT3 = @PH3Description AND VTEXT2 = @PH2Description
				END	
			END	

			/* Update TargetFile with PH3 Node#*/						
			SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' = A.PRODH FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T_Bkp AS A ON A.zLegacyText = zLegacyPH3 '									
			SET @SQL = @SQL + ' INNER JOIN ' + @dbName + '.dbo.ttT179T_Bkp AS B ON B.zLegacyText = zLegacyPH2  WHERE B.zSTUFE = 2  AND A.zSTUFE = 3  AND a.zPRODH2 = b.PRODH ' --+ @SQLPHExists 
			EXEC (@SQL);
			
			SET @RowCount = @RowCount  + @@ROWCOUNT
		END

		UPDATE #TableMatGroup SET processed = 1 where MATKL = @Matgr;
	END

	SET_ACtive:
	/* SEt zActive,zINSAP from cfPH_BKP*/
	/*Check SAP*/
	SET @SQL = 'UPDATE ' + @dbName + '..ttT179T_Bkp SET zActive = CASE WHEN ISNULL(T179T.PRODH,'''') = '''' THEN 1 ELSE 0 END ,zINSAP = CASE WHEN ISNULL(T179T.PRODH,'''') = '''' THEN 0 ELSE 1 END FROM ' + @dbName + '..ttT179T_Bkp LEFT OUTER JOIN ' + @SAPDB + '..T179T ON T179T.PRODH = ttT179T_Bkp.PRODH '			
	IF @DebugMode = 1 BEGIN PRINT @SQL END
	EXEC (@SQL);

	/* MArk only PH's needed for the load*/				
	SET @SQL = 'UPDATE ' + @dbName + '..ttT179T_Bkp SET zActive = 0 FROM ' + @dbName + '..ttT179T_Bkp LEFT OUTER JOIN ' + @dbName + '..tt' + @Table + ' ON ttT179T_Bkp.PRODH = tt' + @Table + '.' + @TableField + ' WHERE tt' + @Table + '.' + @TableField + ' IS NULL'			
	EXEC (@SQL);
	IF @DebugMode = 1 BEGIN PRINT @SQL END
	
	/* MArk new level 2 PH's needed for the load*/				
	SET @SQL = 'UPDATE ' + @dbName + '..ttT179T_Bkp SET zActive = 1 WHERE zActive = 0 AND zPRODH2 IN ( SELECT PRODH FROM ' + @dbName + '..ttT179T_Bkp WHERE zActive = 0 AND zINSAP = 0 ) '			
	EXEC (@SQL);
	IF @DebugMode = 1 BEGIN PRINT @SQL END
	
	/* MArk new level 1 PH's needed for the load*/				
	SET @SQL = 'UPDATE ' + @dbName + '..ttT179T_Bkp SET zActive = 1 WHERE zActive = 0 AND zPRODH1 IN ( SELECT PRODH FROM ' + @dbName + '..ttT179T_Bkp WHERE zActive = 0 AND zINSAP = 0 ) '			
	EXEC (@SQL);
	IF @DebugMode = 1 BEGIN PRINT @SQL END

	EXEC (@SQL)
	SET @RowCount = @RowCount  + @@ROWCOUNT;

	--New PH's'
			SET @SQL = '
			INSERT INTO dbo.cfph_bkp
				( PRODH ,
				  VTEXT ,
				  zLegacyText ,
				  STUFE ,
				  PRODH1 ,
				  PRODH2 ,
				  PRODH3 ,
				  AddedOn ,
				  AddedBy ,
				  zInSAP ,
				  zActive ,
				  zMigrationActive ,
				  ValidFrom ,
				  ValidTo ,
				  zSource)    
				SELECT 
					   [PRODH]
					  ,[VTEXT]
					  ,[ZLegacyText]      
					  ,[zSTUFE]      
					  ,[zPRODH1]
					  ,[zPRODH2]
					  ,[zPRODH3]
					  ,SYSDATETIME()
					  ,SYSTEM_USER
					  ,0 AS zInSAP
					  ,1 AS zActive
					  ,0 AS zMigrationActive
					  ,''''
					  ,''''
					  ,''' + CAST(@srcID AS NVARCHAR) + '''
				  FROM ' + @dbName + '.[dbo].[ttT179T_bkp] 
				  WHERE prodh NOT IN (SELECT PRODH FROM cfph_bkp ) AND ''' + @srcSystem + ''' in ( ''EPN'',''E03'' )
					'			
			EXEC (@SQL)		

	RETURN @RowCount
END
GO
