USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertDataToUTTables_BAPI]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP TABLE zVPL_EPN_20171107_31_03.dbo.tmpMATNR  
--EXEC SPInsertDataToUTTables_BAPI 'BDA_MM_UL_E03', 'WG0218', 'dgdb_PL_ScheduledJobs', 'GLP', '300'  
  
CREATE PROCEDURE [dbo].[SPInsertDataToUTTables_BAPI](
	@Database NVARCHAR(400),
	@Server NVARCHAR(100),
	@zVPL NVARCHAR(100),
	@srcSystem VARCHAR(30),
	@srcClient VARCHAR(5)
)
AS
BEGIN  
  
    DECLARE @SQL NVARCHAR(MAX), @SQL2 NVARCHAR(MAX), @SAPClientDataDB VARCHAR(30) = '';  
      
    IF @SAPClientDataDB = ''
    BEGIN   
        SELECT  @SAPClientDataDB = trdDatabase
        FROM    dbo.cfTargetData
        WHERE   trdSystem = @srcSystem
                AND trdClient = @srcClient;   
    END; 
    
    /*
	===============================================================================================  
	Materials with price changes in MBEW 
	===============================================================================================  
    */ 
    
    SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_PRICECHANGE](
		FISC_YEAR,
		FISC_MONTH,
		PRICE_DATE,
		MATERIAL_EXT,
		VALUATIONAREA,
		CURRENCY,
		PRICE_UNIT,
		PRICE,
		--DUMMY,
		ZACTIVE
		--CURR_TYPE
    )
    SELECT DISTINCT FISC_YEAR,
		FISC_MONTH,
		PRICE_DATE,
		MATERIAL_EXT,
		VALUATIONAREA,
		CURRENCY,
		PRICE_UNIT,
		PRICE,
		--DUMMY,
		1
		--10
    FROM ' + @zVPL + '.dbo.txMBEW_VERPR_MR21_BAPI A';	
	PRINT @SQL;  
    EXEC (@SQL); 

    
    /*

	/*  
	===============================================================================================  
	Create a Tmp table for all the materials list to load into utMM_MARA  
	===============================================================================================  
	*/  
    SET @SQL = 'CREATE TABLE ' + @zVPL + '.dbo.tmpMATNR(MATNR VARCHAR(50), zClient VARCHAR(5), WERKS VARCHAR(5), zSrcId INT);  
		INSERT INTO ' + @zVPL + '.dbo.tmpMATNR   
		SELECT DISTINCT MATERIAL_EXT, ' + @srcClient + ', VALUATIONAREA, 0 FROM ' + @zVPL + '.dbo.txMBEW_VERPR_MR21_BAPI';  
	--PRINT @SQL;  
    EXEC (@SQL);  

	/*  
	===============================================================================================  
	Materials with no changes in MARA  
	===============================================================================================  
	*/  
    SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MARA]( MANDT ,  
			MSGFN ,  
			MATNR ,  
			PSTAT ,  
			VPSTA ,  
			MFRPN,  
			MTPOS_MARA,  
			MTART ,  
			MBRSH ,  
			MATKL ,  
			MEINS ,  
			BLANZ ,  
			GROES ,  
			BRGEW ,  
			NTGEW ,  
			GEWEI ,  
			VOLUM ,  
			VOLEH ,  
			TRAGR ,  
			SPART ,  
			LAENG ,  
			BREIT ,  
			HOEHE ,  
			PRDHA ,  
			ERGEI ,  
			ERVOL ,  
			FUELG ,  
			STFAK ,  
			MHDRZ ,  
			MHDHB ,  
			SERLV ,  
			COMPL ,  
			SLED_BBD ,  
			QQTIME ,  
			BISMT,  
			EXTWG,  
			MSTAE,  
			MSTAV,  
			MSTDE,  
			MSTDV,  
			NUMTP,  
			XCHPF,  
			zActive ,  
			zTicketDate ,  
			zTicketNumber ,  
			MATNR_EXTERNAL,
            zSrcId)  
	   SELECT DISTINCT ''' + @srcClient + ''' AS ZCLIENT,  
			''009'' AS MSFGN ,  
			MD.MATNR_EXT,  
			M.PSTAT,  
			M.PSTAT AS VPSTA,  
			MFRPN,  
			MTPOS_MARA,  
			MTART,  
			''/'' AS MBRSH ,  
			''/'' AS MATKL ,  
			''/'' AS MEINS ,  
			''/'' AS BLANZ ,  
			''/'' AS GROES ,  
			''/'' AS BRGEW ,  
			''/'' AS NTGEW ,  
			''/'' AS GEWEI ,  
			''/'' AS VOLUM ,  
			''/'' AS VOLEH ,  
			''/'' AS TRAGR ,  
			''/'' AS SPART ,  
			''/'' AS LAENG ,  
			''/'' AS BREIT ,  
			''/'' AS HOEHE ,  
			''/'' AS PRDHA ,  
			''/'' AS ERGEI ,  
			''/'' AS ERVOL ,  
			''/'' AS FUELG ,  
			''/'' AS STFAK ,  
			''/'' AS MHDRZ ,  
			''/'' AS MHDHB ,  
			''/'' AS SERLV ,  
			''/'' AS COMPL ,  
			''/'' AS SLED_BBD ,  
			NULL AS QQTIME ,  
			''/'' AS BISMT,  
			''/'' AS EXTWG,  
			''/'' AS MSTAE,  
			''/'' AS MSTAV,  
			''/'' AS MSTDE,  
			''/'' AS MSTDV,  
			''/'' AS NUMTP,  
			''/'' AS XCHPF,  
			1 AS ZACTIVE ,  
            GETDATE() AS ZTicketDate ,  
            ' + @MDMTicketNumber + ' AS zticketnumber,    
            MATNR_EXT ,
            A.zSrcId 
        FROM ' + @zVPL + '.dbo.tmpMATNR A 
        INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD ON MD.MATNR_EXT = A.MATNR  
        INNER JOIN ' + @SAPClientDataDB + '..MARA M ON M.MATNR = MD.MATNR_INT ' + @JoinCondition;
	--PRINT @SQL;  
    EXEC(@SQL);  
      
    /*  
	===============================================================================================  
	MAKT Load  
	===============================================================================================  
	*/  
    SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MAKT]( zSource ,  
			MANDT ,  
			MSGFN ,  
			MATNR ,  
			SPRAS ,  
			MAKTX ,  
			MAKTG ,  
			SPRAS_ISO ,  
			zActive ,  
			zTicketDate ,  
			zTicketNumber,
            zSrcId)  
		 SELECT DISTINCT 1 AS zsource ,  
			''' + @srcClient + ''' as MANDT,  
			''009'' AS MSFGN ,  
			MD.MATNR_EXT,  
			''E'' AS SPRAS,  
			''/'' AS MAKTX,  
			''/'' AS MAKTG,  
			''EN'' AS SPRAS_ISO,  
			1 AS zactive ,  
            GETDATE() AS zticktdate ,  
            ' + @MDMTicketNumber + ' AS zticketnumber,  
            A.zSrcId  
        FROM ' + @zVPL + '.dbo.tmpMATNR A  
        INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD ON MD.MATNR_EXT = A.MATNR  
        INNER JOIN ' + @SAPClientDataDB + '..MARA M ON M.MATNR = MD.MATNR_INT ' + @JoinCondition;
    --PRINT @SQL;  
    EXEC(@SQL);
    
	/*  
	===============================================================================================  
	MARC Load with no changes in MARC  
	===============================================================================================  
	*/  
	SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MARC (MANDT ,  
			  MSGFN ,  
			  MATNR ,  
			  WERKS ,  
			  PSTAT ,  
			  EKGRP ,  
			  DISMM ,  
			  DISPO ,  
			  PLIFZ ,  
			  PERKZ ,  
			  DISLS ,  
			  BESKZ ,  
			  FHORI ,  
			  WZEIT ,  
			  LADGR ,  
			  [OBJID] ,  
			  MTVFP ,  
			  KAUTB ,  
			  KORDB ,  
			  HERKL ,  
			  PRCTR ,  
			  FXHOR ,  
			  VRMOD ,  
			  VINT1 ,  
			  VINT2 ,  
			  LOSGR ,  
			  AWSLS ,  
			  SERNP ,  
			  LGFSB ,  
			  SHZET ,  
			  DPLHO ,  
			  MINLS ,  
			  MAXLS ,  
			  COMPL ,  
			  MMSTA ,  
			  MMSTD ,  
			  MINBE,  
			  LGRAD,  
			  BSTFE,  
			  BSTMI,  
			  BWTTY,  
			  DISGR,  
			  DZEIT,  
			  EISBE,  
			  LGPRO,  
			  MAABC,  
			  SBDKZ,  
			  SFCPF,  
			  STAWN,  
			  STRGR,  
			  UEETO,  
			  UNETO,  
			  WEBAZ,  
			  XCHPF,  
			  zActive ,  
			  zTicketDate ,  
			  zTicketNumber ,  
			  zSource  
			)';  
	SET @SQL2 = 'SELECT DISTINCT  ''' + @srcClient + ''' AS MANDT ,  
				''009'' AS MSGFN ,  
				TM.MATNR ,  
				TM.WERKS ,  
				M.PSTAT ,  
				''/'' AS EKGRP ,  
				''/'' AS DISMM ,  
				''/'' AS DISPO ,  
				''/'' AS PLIFZ , --CASE WHEN B.PLIFZ = ''/'' THEN NULL ELSE B.PLIFZ END,  
				''/'' AS PERKZ ,  
				''/'' AS DISLS ,  
				''/'' AS BESKZ ,  
				''/'' AS FHORI ,  
				''/'' AS WZEIT , --CASE WHEN B.WZEIT = ''/'' THEN NULL ELSE B.WZEIT END,  
				''/'' AS LADGR ,  
				0 AS [OBJID] ,  
				''/'' AS MTVFP ,  
				''/'' AS KAUTB ,  
				''/'' AS KORDB ,  
				''/'' AS HERKL ,  
				''/'' AS PRCTR ,  
				''/'' AS FXHOR ,  
				''/'' AS VRMOD ,  
				''/'' AS VINT1 ,  
				''/'' AS VINT2 ,  
				''/'' AS LOSGR ,  
				''/'' AS AWSLS ,  
				''/'' AS SERNP ,  
				''/'' AS LGFSB ,  
				''/'' AS SHZET ,  
				''/'' AS DPLHO ,  
				''/'' AS MINLS ,  
				''/'' AS MAXLS ,  
				''/'' AS COMPL ,  
				''/'' AS MMSTA ,  
				''/'' AS MMSTD ,  
				''/'' AS MINBE,  
				''/'' AS LGRAD,  
				''/'' AS BSTFE,  
				''/'' AS BSTMI,  
				'''' AS BWTTY,  
				''/'' AS DISGR,  
				''/'' AS DZEIT,  
				''/'' AS EISBE,  
				''/'' AS LGPRO,  
				''/'' AS MAABC,  
				''/'' AS SBDKZ,  
				''/'' AS SFCPF,  
				''/'' AS STAWN,  
				''/'' AS STRGR,  
				''/'' AS UEETO,  
				''/'' AS UNETO,  
				''/'' AS WEBAZ,  
				''/'' AS XCHPF,  
				1 AS ZACTIVE ,  
				GETDATE() AS ZTICKETDATE ,  
				100 AS ZTICKETNUMBER ,  
				1 AS zSource  
			FROM ' + @zVPL + '.dbo.tmpMATNR TM  
			INNER JOIN ' + @SAPClientDataDB + '..MATERIALID MD ON MD.MATNR_EXT = TM.MATNR  
			INNER JOIN ' + @SAPClientDataDB + '..MARC M ON M.MATNR = MD.MATNR_INT AND M.WERKS = TM.WERKS';  
	--PRINT @SQL + @SQL2;  
	EXEC (@SQL + @SQL2);  
      
	/*   
    ===============================================================================================  
    Drop the table with materials from other tables  
    ===============================================================================================  
    */  
    SET @SQL = 'DROP TABLE ' + @zVPL + '.dbo.tmpMATNR';  
    --PRINT @SQL;  
    EXEC(@SQL);  

	/*  
	===============================================================================================  
	MBEW Load  
	===============================================================================================  
	*/  
    SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MBEW ( MANDT ,  
              MSGFN ,  
              MATNR ,  
              BWKEY ,  
              BWTAR ,  
              VPRSV ,  
              VERPR ,  
              STPRS ,  
              PEINH ,  
              BKLAS ,  
              VMVPR ,  
              VMVER ,  
              VMSTP ,  
              VMPEI ,  
              VMBKL ,  
              VJVPR ,  
              VJVER ,  
              VJSTP ,  
              VJBKL ,  
              LFGJA ,  
              LFMON ,  
              PSTAT , 
              BWTTY , 
              zActive ,  
              zTicketDate ,  
              zTicketNumber ,  
              zSource  
            )  
            SELECT DISTINCT  ''' + @srcClient + ''' AS MANDT ,  
                ''009'' AS MSGFN ,  
                A.MATERIAL_EXT ,  
				A.VALUATIONAREA ,  
				B.BWTAR ,  
				B.VPRSV ,  
				A.PRICE,  
				A.PRICE ,  
				A.PRICE_UNIT ,  
				B.BKLAS ,  
				B.VPRSV AS VMVPR ,  
				''/'' AS VMVER ,  
				A.PRICE AS VMSTP ,  
				A.PRICE_UNIT AS VMPEI ,  
				B.BKLAS AS VMBKL ,  
				B.VPRSV AS VJVPR ,  
				A.PRICE AS VJVER ,  
				A.PRICE AS VJSTP ,  
				B.BKLAS AS VJBKL ,  
				''/'' AS LFGJA ,  
				''/'' AS LFMON ,  
				B.PSTAT ,  
				B.BWTTY ,
				1 AS zactive ,
                GETDATE() AS zTicketDate ,  
                100 AS zTicketNumber ,  
                1 AS zSource  
            FROM ' + @zVPL + '.dbo.txMBEW_VERPR_MR21_BAPI A
			INNER JOIN ' + @SAPClientDataDB + '..MATERIALID M ON M.MATNR_EXT = A.MATERIAL_EXT
			INNER JOIN ' + @SAPClientDataDB + '..MBEW B ON B.MATNR = M.MATNR_INT AND B.BWKEY = A.VALUATIONAREA';  
    --PRINT @SQL;  
    EXEC (@SQL); 
    
    */

END;
GO
