USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGenPrintMessage]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Returns print message for a qury that outputs 3 columns: item, description and records
*/


CREATE PROCEDURE [dbo].[spGenPrintMessage] 
	@SQL NVARCHAR(4000)='',
	@CharLengthItem INTEGER = 50,
	@CharLengthDescr INTEGER = 255,
	@CharLengthCount INTEGER = 12
	--@Message NVARCHAR(4000) = '' OUTPUT	

AS

	BEGIN

		DECLARE @T TABLE ( RecordCount INTEGER)
		DECLARE @RecordCount INTEGER

		SET NOCOUNT ON

		SET @SQL = REPLACE(@SQL,'FROM',', 0 as Done INTO #LOG FROM')

		SET @SQL = @SQL + ' DECLARE @ITEM NVARCHAR(255),  @Description NVARCHAR(255),  @Records AS INT '
		SET @SQL = @SQL + ' WHILE (SELECT TOP 1 1 FROM #LOG WHERE Done = 0) = 1 '
		SET @SQL = @SQL + ' BEGIN '
		SET @SQL = @SQL + ' SELECT TOP 1 @Item = Item, @Description = Description,  @Records = Records FROM #LOG WHERE Done = 0 '
		SET @SQL = @SQL + ' PRINT CAST('''' AS CHAR(10)) + CAST(@Records AS CHAR(' + CAST(@CharLengthCount AS NVARCHAR) + ')) + CAST(@Item AS CHAR(' + CAST(@CharLengthItem AS NVARCHAR) + ')) + CAST(@Description AS CHAR(' + CAST(@CharLengthDescr AS NVARCHAR) + ')) '
		SET @SQL = @SQL + ' UPDATE #LOG SET Done =1 WHERE Item + Description = @ITEM + @Description'
		SET @SQL = @SQL + ' END'

		SET @SQL = @SQL + ' SELECT COUNT(*) FROM #LOG'		
		INSERT INTO @T EXEC (@SQL)
		SELECT @RecordCount = RecordCount FROM @T
		--PRINT ''
		--PRINT  CAST('  Number of Issue Types' as char(21)) + CAST(@RecordCount AS NVARCHAR)

	END
GO
