USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGenRefreshPHFromDFStagingTablesObs]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGenRefreshPHFromDFStagingTablesObs] AS 



EXEC dgdb..spGenDropOrCheckTable 'dcsVPLU_ttT179T_L1', 'DGDB_PL', 1								
EXEC dgdb..spGenDropOrCheckTable 'dcsVPLU_ttT179T_L2', 'DGDB_PL', 1								
EXEC dgdb..spGenDropOrCheckTable 'dcsVPLU_ttT179T_L3', 'DGDB_PL', 1								
SELECT *
    INTO dcsVPLU_ttT179T_L1
    FROM wg0096.DataConstructionServer.dbo.dcsVPLU_ttT179T_L1
ALTER TABLE dcsVPLU_ttT179T_L1 ALTER COLUMN zLegacyText NVARCHAR(255)

SELECT *
    INTO dcsVPLU_ttT179T_L2
    FROM wg0096.DataConstructionServer.dbo.dcsVPLU_ttT179T_L2
ALTER TABLE dcsVPLU_ttT179T_L1 ALTER COLUMN zLegacyText NVARCHAR(255)

SELECT *
    INTO dcsVPLU_ttT179T_L3
    FROM wg0096.DataConstructionServer.dbo.dcsVPLU_ttT179T_L3
ALTER TABLE dcsVPLU_ttT179T_L1 ALTER COLUMN zLegacyText NVARCHAR(255)

EXEC dgdb..spGenDropOrCheckTable 'cfPH','DGDB_PL',1								
   SELECT 		
		A.PRODH 
		,LTRIM(RTRIM(A.VTEXT)) AS VTEXT
		,LTRIM(RTRIM(CAST(A.zLegacyText AS NVARCHAR(255)))) AS zLegacyText
		 ,CASE LEN(A.PRODH) WHEN 5 THEN 1 WHEN 10 THEN 2 ELSE 3 END AS STUFE
		,LEFT(A.PRODH,5) AS PRODH1
		,CASE WHEN LEN(A.PRODH) > 5 THEN LEFT(A.PRODH,10) ELSE '' END AS PRODH2
		,CASE WHEN LEN(A.PRODH) > 10 THEN LEFT(A.PRODH,18) ELSE '' END AS PRODH3
      ,A.AddedOn
      ,A.AddedBy
      ,A.zInSAP
      ,A.zActive
      ,A.zMigrationActive
      ,A.ValidFrom
      ,A.ValidTo
      ,A.zSource
INTO cfPH
  FROM dgdb_PL.dbo.vPH A ORDER BY a.PRODH

CREATE INDEX IX_PRODH1 ON cfPH(PRODH1)
CREATE UNIQUE INDEX IX_PRODH ON cfPH(PRODH)





	/* EXEC dgdb..spGenDropOrCheckTable 'SAP_MARA','dgdb_PL',1							 
				select * INTO SAP_MARA FROM OPENQUERY
					([SAPR3.EP1],'
							SELECT MATNR, MATKL, MFRPN
							FROM SAPR3.MARA
							WHERE MANDT = ''300''								
					' )*/

GO
