USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spInsertClassificationDataToUTTables]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertClassificationDataToUTTables](
	@zVPL NVARCHAR(200)
	, @TargetDB NVARCHAR(200)
	, @MDMTicketNumber NVARCHAR(MAX)
	, @JoinCondition NVARCHAR(MAX)
)
AS
BEGIN

	DECLARE @SQl NVARCHAR(MAX);

	--SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''PIR_CLASS'', 1;';
	--EXEC(@sql);

	--SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''MARA_CLASS'', 1;';
	--EXEC(@sql);

	SET @SQl = 'INSERT INTO ' + @TargetDB + '..utMM_PIR_CLASS(OBTAB, KLART, OBJEK, CLASS, ATNAM, ATWRT, zActive, zTicketNumber)
	SELECT DISTINCT ''EINA'' AS OBTAB, KLART, OBJEK, CLASS, ATNAM, ATWRT, 0, ' + @MDMTicketNumber + ' FROM ' + @zVPL + '..txAUSP_Classes_LSMW A ' + @JoinCondition + ' WHERE OBJEK IS NOT NULL;';
	--PRINT @SQL;
	EXEC(@SQl);	

	SET @SQl = 'INSERT INTO ' + @TargetDB + '..utMM_MARA_CLASS(OBTAB, KLART, OBJEK, CLASS, zActive, zTicketNUmber)
	SELECT DISTINCT OBTAB, KLART, OBJEK, CLASS, 0, 0 FROM ' + @zVPL + '..MARA_Class_ASGN_LSMW A WHERE OBJEK IS NOT NULL;';
	--PRINT @SQL;
	EXEC(@SQl);

	--SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''PIR_CLASS'', 2;';
	--EXEC(@sql);

	--SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''MARA_CLASS'', 2;';
	--EXEC(@sql);

END
GO
