USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spMaintainMovAvarage_WIP]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[spMaintainMovAvarage_WIP]

	@RUN BIT = 1

AS

	BEGIN

		IF @Run = 0 BEGIN PRINT 'Run = 0' RETURN  END

		SET NOCOUNT ON

		
		
	
			DECLARE 
				@MinPriceChangePerc  INTEGER = 0,
				@Message NVARCHAR(4000),
				@RowCount BIGINT,
				@ExportType NVARCHAR(4) = 'BDC',
				@SQL NVARCHAR(4000),
				@StartDate DATETIME = GETDATE(),
				@CurrentDate DATETIME = GETDATE(),
				@prlProcess NVARCHAR(60)= DB_NAME()+'..'+OBJECT_NAME(@@PROCID)

			
			
			IF OBJECT_ID('.dgdb_PL_ScheduledJobs..PriceDataTMP') IS NOT NULL 
				BEGIN 					
					DROP TABLE dgdb_PL_ScheduledJobs..PriceDataTMP 					
				END				
		
			/* Get relevant Plant data*/
			SET @StartDate = GETDATE()
			SELECT  
					CAST('' AS NVARCHAR(255)) AS UpdateComment_VERPR,				
					CAST('' AS NVARCHAR(10)) AS MATKL,
					CAST('' AS NVARCHAR(40)) AS MATKL_DESC,
					EINA.LIFNR ,
					CAST('' AS NVARCHAR(40)) AS LIFNR_DESC,
					MATNR_EXT AS MATNR,
					MATNR_INT,
					T001.BUKRS,
					EINE.PEINH,
					EINE.WERKS ,
					EINE.WAERS AS PIR_WAERS,
					NETPR,
					EFFPR ,					
					EFFPR * CurrentFxRates.UKURS AS EFFPR_Local ,	-- Function for rounding IDR to zero Decimals
					CAST(0 AS BIT ) AS EFFPRPriceChangeFlag,
					T001.WAERS AS Company_WAERS,
					CurrentFxRates.UKURS ,	
					CAST(1 AS INT) AS zCURRDEC,					
					VPRSV ,
					VERPR ,			
					STPRS ,
					T001.LAND1 ,
					MBEW.LBKUM,				
					CAST(0 AS DECIMAL(12,2)) AS ChangePerc 				
				INTO dgdb_PL_ScheduledJobs..PriceDataTMP     
				FROM dgdb_PL_EPN_300..EINE
					INNER JOIN dgdb_PL_EPN_300..EINA ON dgdb_PL_EPN_300.dbo.EINA.INFNR = dgdb_PL_EPN_300.dbo.EINE.INFNR			
					INNER JOIN dgdb_PL_EPN_300..MATERIALID ON MATNR_INT = EINA.MATNR
					INNER JOIN dgdb_PL_EPN_300..MARC ON dgdb_PL_EPN_300.dbo.MARC.MATNR = dgdb_PL_EPN_300.dbo.EINA.MATNR
														AND dgdb_PL_EPN_300.dbo.MARC.WERKS = dgdb_PL_EPN_300.dbo.EINE.WERKS
					INNER JOIN dgdb_PL_EPN_300..MBEW ON dgdb_PL_EPN_300.dbo.MBEW.MATNR = dgdb_PL_EPN_300.dbo.EINA.MATNR
														AND dgdb_PL_EPN_300.dbo.MBEW.BWKEY = dgdb_PL_EPN_300.dbo.EINE.WERKS
					INNER JOIN dgdb_PL_EPN_300..T001K ON dgdb_PL_EPN_300.dbo.T001K.BWKEY = dgdb_PL_EPN_300.dbo.MBEW.BWKEY
					INNER JOIN dgdb_PL_EPN_300..T001 ON dgdb_PL_EPN_300.dbo.T001.BUKRS = dgdb_PL_EPN_300.dbo.T001K.BUKRS
					INNER JOIN dgdb_PL_EPN_300..CurrentFxRates ON TCURR = T001.WAERS
																  AND FCURR = EINE.WAERS  
					INNER JOIN dgdb_PL_EPN_300..EORD ON dgdb_PL_EPN_300.dbo.EORD.LIFNR = dgdb_PL_EPN_300.dbo.EINA.LIFNR
																AND dgdb_PL_EPN_300.dbo.EORD.MATNR = dgdb_PL_EPN_300.dbo.EINA.MATNR 
																AND dgdb_PL_EPN_300.dbo.EORD.WERKS = dgdb_PL_EPN_300.dbo.EINE.WERKS	
				WHERE	MARC.MMSTA <> 'Z5'												-- No Obsolete Products
					AND MARC.MMSTD < = CONVERT(NVARCHAR, GETDATE(), 112)				-- No Obsolete Products
					AND MARC.LVORM <> 'X'												-- Not Flagged For Deletion
					AND MBEW.LVORM <> 'X'												-- Not Flagged For Deletion
					AND MBEW.VPRSV = 'V'												-- Moving avarage price only
					AND RIGHT(EINE.WERKS, 1) = '1'										-- Main Plant enbding with 1 Only
					AND FLIFN = 'X'														-- Default Supplier on the SourceLIst
					AND EINE.WERKS NOT IN ('2001','2002','2003','2011','2012','2013')	-- Exclude old US plants				
					--AND T001.WAERS <> EINE.WAERS										-- Diff Purchasing Currency										
					AND EINE.ESOKZ = 0													-- Standard PIR
					AND EINA.MATNR = 'CPAP-SG1120-FW'
				
				
			/*Some Updates on PriceData*/

				/*UPDATE zCURRDEC, decimal places currecnies esp. IDR*/
				UPDATE P SET zCURRDEC = CAST(POWER(10,(3-X.CURRDEC)) AS INT) FROM dgdb_PL_ScheduledJobs..PriceDataTMP  P INNER JOIN (SELECT * FROM dgdb_PL_EPN_300..TCURX) X ON P.Company_WAERS = X.CURRKEY AND P.PIR_WAERS <> P.Company_WAERS
                UPDATE P SET EFFPR_Local = EFFPR_Local * zCURRDEC FROM dgdb_PL_ScheduledJobs..PriceDataTMP P WHERE zCURRDEC <> 1;

			
				/*No Price change*/
				SET @StartDate = GETDATE()
				DELETE FROM dgdb_PL_ScheduledJobs..PriceDataTMP WHERE EFFPR_Local = VERPR
				

				/*Index Data*/
				SET @StartDate = GETDATE()
				--CREATE UNIQUE INDEX UIX_0 ON dgdb_PL_ScheduledJobs..PriceDataTMP(WERKS,MATNR)				
				CREATE INDEX IX_2 ON dgdb_PL_ScheduledJobs..PriceDataTMP(LIFNR)
				CREATE INDEX IX_3 ON dgdb_PL_ScheduledJobs..PriceDataTMP(VPRSV)
				

				/* Update with Vendor Name*/
				SET @StartDate = GETDATE()
				UPDATE dgdb_PL_ScheduledJobs..PriceDataTMP SET LIFNR_DESC = NAME1 FROM dgdb_PL_ScheduledJobs..PriceDataTMP INNER JOIN dgdb_PL_EPN_300..LFA1 ON dgdb_PL_ScheduledJobs..PriceDataTMP.LIFNR = LFA1.LIFNR
				

				/* Update with Material Group*/
				SET @StartDate = GETDATE()
				UPDATE dgdb_PL_ScheduledJobs..PriceDataTMP SET MATKL = MARA.MATKL,MATKL_DESC = WGBEZ FROM dgdb_PL_ScheduledJobs..PriceDataTMP INNER JOIN dgdb_PL_EPN_300..MARA ON MARA.MATNR = dgdb_PL_ScheduledJobs..PriceDataTMP.MATNR_INT INNER JOIN dgdb_PL_EPN_300..T023T ON MARA.MATKL = T023T.MATKL
				

				/* Update with Change Percentage*/
				SET @StartDate = GETDATE()
				UPDATE dgdb_PL_ScheduledJobs..PriceDataTMP
					SET ChangePerc = 
						CASE 
							WHEN VERPR = 0 AND EFFPR_Local = 0 THEN 0
							WHEN VERPR = 0 AND EFFPR_Local <> 0 THEN 100
							WHEN VERPR <> 0 THEN ROUND((EFFPR_Local - VERPR) / VERPR,2)
						END
					FROM dgdb_PL_ScheduledJobs..PriceDataTMP
					WHERE VPRSV = 'V'
				

				/* Update UpdateComment_VERPR*/
					SET @StartDate = GETDATE()
					UPDATE dgdb_PL_ScheduledJobs..PriceDataTMP  
						SET UpdateComment_VERPR = 
							CASE WHEN ABS(EFFPR_Local - VERPR) > 0.01 THEN
								CASE
									WHEN ABS(ChangePerc) > = @MinPriceChangePerc/100 AND LBKUM = 0 AND ROUND(EFFPR_Local,2) <> ROUND(VERPR,2) 
										THEN CASE WHEN  PIR_WAERS <> COMPANY_WAERS THEN 'UPDATE CURR DIFF' ELSE 'UPDATE SAME CURR' END													
									ELSE 'NO CHANGE < 0.01'
								END
							ELSE
								'NO CHANGE'
							END
						FROM dgdb_PL_ScheduledJobs..PriceDataTMP 						
				
									
					/* Has Stock*/
					SET @StartDate = GETDATE()
					UPDATE dgdb_PL_ScheduledJobs..PriceDataTMP
						--SET UpdateComment_STPRS = CASE WHEN VPRSV = 'S' THEN 'NO UPDATE, STOCK' ELSE '' END,
						SET UpdateComment_VERPR = 'NO UPDATE, STOCK' 
						FROM dgdb_PL_ScheduledJobs..PriceDataTMP 
						WHERE LBKUM <> 0
				
			SELECT * FROM dgdb_PL_ScheduledJobs..PriceDataTMP		
	END
GO
