USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGenGeneratePH_Test]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
EXEC [spGenGeneratePH_Test] 'MARA',62,1
*/

CREATE PROCEDURE [dbo].[spGenGeneratePH_Test] 
	@Table NVARCHAR(40) = 'MARA',
	@srcID INTEGER=9,
	@DebugMode BIT = 0,
	@RowCount INTEGER = 0 OUTPUT

AS

	BEGIN

		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

		DECLARE 		
			@srcName NVARCHAR(50)='',
			@srcSrtCode NVARCHAR(4),
			@srcSystem NVARCHAR(3),
			@SAPDB NVARCHAR(40),
			@DBName NVARCHAR(40)='',						
			@Matgr NVARCHAR(5),			
			@TableField NVARCHAR(10) ,
			@PH1Description NVARCHAR(255),
			@PH2Description NVARCHAR(255),
			@PH3Description NVARCHAR(255),	
			@PHHardCode BIT = 0,								
			@SQL NVARCHAR(4000)='',
			@SQLWhere NVARCHAR(500)='',
			@SQLPHExists NVARCHAR(500)=' AND ISNULL(PRDHA,'''') = ''''',
			@NextNumber BIGINT,
			@NextNumber2 BIGINT,
			@NextNumber3 BIGINT,
			@Rowcount2 INT							

			DECLARE @TableExists TABLE ( Exist BIT)
			DECLARE @TableNN TABLE ( NN BIGINT)
			DECLARE @TableVTEXT TABLE ( MATKL NVARCHAR(10),VTEXT2 NVARCHAR(255),VTEXT3 NVARCHAR(255), Done BIT )		
			DECLARE @TableMatGroup TABLE (MATKL NVARCHAR(5))

			SELECT	@srcName = srcName,
					@srcSrtCode = srcSrtCode,					
					@PH1Description = srcTableName,
					@Matgr = srcVendorCode ,
					@srcSystem = srcSystem,
					@SAPDB = trdDatabase
				FROM cfSource
					LEFT OUTER JOIN dbo.cfTargetData ON srcSystem = trdSystem
				WHERE srcid = @srcID					
			SET @DBName =  @srcSrtCode + @Matgr + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)

			/*Remove leading trailing sapces from PH in sourcefile*/
					
			
			/* In case Matgroup used is different from srcID*/
			SET @SQL = 'SELECT TOP 1 MaterialGroup FROM ' + @DBName + '..SourceFileExtract'
			INSERT INTO @TableMatGroup EXEC (@SQL)
			SELECT @Matgr = MATKL FROM @TableMatGroup
			

			/*CHeck if SourceFileExtract exists*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''SourceFileExtract'''			
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0
				BEGIN
					PRINT ''
					PRINT 'Cannot find Table SourceFileExtract in Database ''' + @DBName + ''''
					RETURN
				END
				


			/*CREATE PH structure T179T in Target DB*/
			EXEC dgdb..spGenDropOrCheckTable 'ttT179T',@DBName,1								
			SET @SQL = 'SELECT PRODH,VTEXT,''E'' AS SPRAS,STUFE AS zSTUFE,CAST(ISNULL(zLegacyText,VTEXT) AS NVARCHAR(255)) AS ZLegacyText,PRODH1 AS zPRODH1, PRODH2 AS zPRODH2, PRODH3 AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID,ZinSAP,
						0 as zChange,zActive,CAST(NULL AS BIT) as zDGError  
					INTO ' + @dbName + '.dbo.ttT179T 
					FROM cfph WHERE cfph.zActive = 1 AND PRODH1 IN (SELECT DISTINCT MaterialGroup FROM ' + @DBName + '..SourceFileExtract)'		
			PRINT @SQL;
			EXEC (@SQL)
		
			/*NOT NEEDED BUT IN CASE PRDHA <> PRODH*/
			IF @Table = 'MARA' 
				BEGIN
					SET @TableField = 'PRDHA'
				END

			ELSE
				BEGIN
					SET @TableField = 'PRODH'		--MVKE
				END

			/*CHeck if SourceFileExtract.ProductHierarchy exists, PH is Hardcoded*/
			/* ISSUE no validation if PH exists*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''ProductHierarchy'''
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) > 0
				BEGIN
					SET @PHHardCode = 1
					SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' =  ProductHierarchy FROM ' + @dbName + '..tt' + @Table + 
						' INNER JOIN ' + @dbName + '.dbo.SourceFileExtract ON Matnr = Material '
					EXEC (@SQL)
					--IF @DebugMode = 1 BEGIN PRINT @SQL END
					GOTO SET_Active
				END

			/*Check IF PH1 EXISTS, If Not Create PH1 */		
				SET @SQL = 'SELECT DISTINCT 1 FROM ' + @dbName + '.dbo.ttT179T WHERE zSTUFE = 1'
				INSERT INTO @TableExists EXEC (@SQL)						
				IF ISNULL(@@ROWCOUNT,0) = 0   -- PH1 Does not Exists
				Print 'inside if cond'
					BEGIN
						/*ttT179T*/
						SET @SQL = 'INSERT INTO ' + @dbName + '..ttT179T SELECT ''' + @Matgr + ''' AS PRODH, ''' + LEFT(@PH1Description,40) + ''' AS VTEXT, ''E'' AS SPRAS, 1 as zSTUFE,
							 ''' + @PH1Description + ''' AS zLegacyText, ''' + @Matgr + ''' AS zPRODH1, '''' as zPRODH2, '''' AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID, 0 AS ZinSAP,0 as zChange,0 AS zActive,CAST(NULL AS BIT) as zDGError;'				
						EXEC (@SQL)					
					END
					print 'after if cond'
				DELETE FROM @TableExists
					-- Check if zLegacyPH2 EXISTS
					SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH2'''
					INSERT INTO @TableExists EXEC (@SQL)	
					IF ISNULL(@@ROWCOUNT,0) <> 0
						BEGIN
							SET @SQLWhere = ' AND ISNULL(zLegacyPH2,'''') = '''''
						END					
				-- Check if zLegacyPH3 EXISTS
					SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH3'''
					INSERT INTO @TableExists EXEC (@SQL)	
					IF ISNULL(@@ROWCOUNT,0) <> 0
						BEGIN
							SET @SQLWhere = @SQLWhere + ' AND ISNULL(zLegacyPH3,'''') = '''''
						END

				SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' =  ttT179T.PRODH FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T ON ttT179T.PRODH = MATKL WHERE zSTUFE = 1 '+ @SQLWhere + @SQLPHExists 				
				PRINT @SQL;
				
				EXEC (@SQL)
				SET @RowCount = @@ROWCOUNT				
                --IF @DebugMode = 1 BEGIN PRINT @SQL END
			
			/*Check for if ZlegacyPH2 or  EXists*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH2'';'
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)				
				IF ISNULL(@@ROWCOUNT,0) > 0   -- ZlegacyPH2 EXists
					BEGIN						
						/*Look for any new Nodes*/
						/*remove leading / trailing spaces*/
						

						SET @SQL = 'UPDATE ' + @DBName + '..SourceFileExtract SET zLegacyPH2 = LTRIM(RTRIM(zLegacyPH2)) WHERE LEFT(zLegacyPH2,1) = '' '' OR RIGHT(zLegacyPH2,1) = '' '''
						EXEC (@SQL)
						
						SET @SQL = 'SELECT DISTINCT MATKL,zLegacyPH2 AS zLegacyPH2,'''',0 FROM ' + @dbName + '..tt' + @Table + ' LEFT OUTER JOIN ' + @dbName + '.dbo.ttT179T ON zLegacyText = zLegacyPH2 AND zSTUFE = 2 WHERE ISNULL(zLegacyText,'''') = '''' AND LEN(zLegacyPH2) > 0'					
						PRINT @SQL;
						INSERT INTO @TableVTEXT EXEC (@SQL)						
						 IF ISNULL(@@ROWCOUNT,0) > 0   -- PH2 EXists
							BEGIN
								WHILE (SELECT TOP 1 1 FROM @TableVTEXT WHERE done = 0 ORDER BY VTEXT2) = 1
									BEGIN
										SELECT TOP 1 @PH2Description = LTRIM(RTRIM(VTEXT2)),@Matgr = MATKL FROM @TableVTEXT WHERE done = 0	ORDER BY LTRIM(RTRIM(VTEXT2))
										/* Create Dummy NumberRange to get the lowest free number*/
										SET @SQL = ' SELECT MAX(PRODH) +1 FROM ( SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,5))) AS PRODH FROM cfph WHERE STUFE = 2'
										SET @SQL = @SQL + '  UNION SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,5)))AS PRODH FROM ' + @dbName + '.DBO.TTT179T WHERE ZSTUFE = 2 )  T '										
										INSERT INTO @TableNN EXEC (@SQL)										
										SELECT @NextNumber = CASE WHEN LEN(NN) <= 5 THEN CAST(CAST(@Matgr AS NVARCHAR)+ RIGHT('0000'+CAST(NN AS NVARCHAR),5) AS NVARCHAR) ELSE NN END FROM @TableNN			
										SET @SQL = 'INSERT INTO ' + @dbName + '..ttT179T SELECT ' + CAST(@NextNumber AS NVARCHAR) + ' AS PRODH, ''' + LEFT(@PH2Description,40) + '''  AS Vtext,  ''E'' AS SPRAS,2 as zSTUFE, ''' + @PH2Description + '''  AS zLegacyText,' 
										SET @SQL = @SQL + 'LEFT(' + CAST(@NextNumber AS NVARCHAR) + ',5) AS zPRODH1, ' + CAST(@NextNumber AS NVARCHAR) + ' as zPRODH2, '''' AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID, 0 AS ZinSAP,0 as zChange,0 AS zActive,CAST(NULL AS BIT) as zDGError'			
										PRINT @SQL;
										
										EXEC (@SQL)

										DELETE FROM @TableNN
										UPDATE @TableVTEXT SET Done = 1 WHERE VTEXT2 = @PH2Description
									END	
								DELETE FROM @TableVTEXT
							END							
						/* Update TargetFile with PH2 Node#*/
						print 'at sourcefileextract'
						SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' =  ttT179T.PRODH FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T ON zLegacyText = zLegacyPH2 WHERE zSTUFE = 2 AND ISNULL(zLegacyPH3,'''') = ''''' --+ @SQLPHExists 									
						EXEC (@SQL)
						print 'after sourcefileextract'
						SET @RowCount = @RowCount  + @@ROWCOUNT				
					END


			/*Check for if ZlegacyPH3 or zLegacyPH2 EXists*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''SourceFileExtract'' AND COLUMN_NAME = ''zLegacyPH3'';'
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) > 0   -- PH3 EXists
					BEGIN	
						/*remove leading / trailing spaces*/
						SET @SQL = 'UPDATE ' + @DBName + '..SourceFileExtract SET zLegacyPH3 = LTRIM(RTRIM(zLegacyPH3)) WHERE LEFT(zLegacyPH3,1) = '' '' OR RIGHT(zLegacyPH3,1) = '' '''
						EXEC (@SQL)					
					/*Look for any new Nodes within the right PH2 */
						SET @SQL = 'SELECT DISTINCT MATKL,zLegacyPH2 AS zLegacyPH2,zLegacyPH3 AS zLegacyPH3, ttT179T.PRODH AS PH2 INTO #TMP FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T ON zLegacyText = zLegacyPH2 WHERE LEN(PRODH) = 10;' 
						SET @SQL = @SQL + 'SELECT MATKL,zLegacyPH2,zLegacyPH3,0 as Done FROM #TMP LEFT OUTER JOIN ' + @dbName + '.dbo.ttT179T A ON zLegacyText = zLegacyPH3  AND zPRODH2 = PH2 AND A.zSTUFE = 3 WHERE ISNULL(A.zLegacyText,'''') = ''''  AND ISNULL(zLegacyPH3,'''') <> '''''							
						--IF @DebugMode = 1 BEGIN PRINT @SQL END
						INSERT INTO @TableVTEXT EXEC (@SQL)			
						
						IF ISNULL(@@ROWCOUNT,0) > 0   -- PH3 Does not Exist within PH2 Node
						   
							BEGIN		
							--select * from  @TableVTEXT						
								WHILE (SELECT TOP 1 1 FROM @TableVTEXT WHERE done = 0 ORDER BY VTEXT2,VTEXT3) = 1
									BEGIN
										SELECT TOP 1 @Matgr = MATKL, @PH2Description = VTEXT2,@PH3Description = VTEXT3 FROM @TableVTEXT WHERE done = 0 ORDER BY VTEXT2,VTEXT3	
							
										/* Get PH2 Node NUmber*/
										SET @SQL = 'SELECT TOP 1 PRODH FROM ' + @dbName + '.dbo.ttT179T WHERE zSTUFE = 2 AND zLegacyText =  ''' + @PH2Description + ''''
										INSERT INTO @TableNN EXEC (@SQL)
										SELECT @NextNumber2 = NN FROM @TableNN										
										DELETE FROM @TableNN
										
										/*Check If new Node 3 already exists within another PH2 annd take that Node number*/
										SET @SQL = ' SELECT TOP 1 RIGHT(zPRODH3,8) FROM ' + @dbName + '.dbo.ttT179T WHERE zSTUFE = 3 AND zLegacyText =  ''' + @PH3Description + ''''										
										INSERT INTO @TableNN EXEC (@SQL)
										SET @Rowcount = @@ROWCOUNT																														
										SET @Rowcount2 = 0
										IF @RowCount = 1
										--Check if the new derived PH3 already exists with a different description, if Yes create a new PH3 code
										BEGIN
                                        
											SELECT @NextNumber = CAST(CAST(@NextNumber2 AS NVARCHAR)+ RIGHT('0000000'+CAST(NN AS NVARCHAR),8) AS NVARCHAR) FROM @TableNN
											--PRINT 'PH2 found is : ' + CONVERT(VARCHAR,@NextNumber)
										    
											-- check if the new PH3 has a different description
											DELETE FROM @TableNN
											SET @SQL = ' SELECT TOP 1 RIGHT(zPRODH3,8) FROM ' + @dbName + '.dbo.ttT179T WHERE zSTUFE = 3 AND convert(varchar,prodh) = ''' + CONVERT(VARCHAR,@NextNumber) + ''' and zLegacyText <>  ''' + @PH3Description + ''''										
											INSERT INTO @TableNN EXEC (@SQL)
											SET @Rowcount2 = @@ROWCOUNT

										END
                                         --PRINT 'Rowcount2 is: ' + CONVERT(VARCHAR,@Rowcount2) + 'Rowcount is:' + CONVERT(VARCHAR,@Rowcount)
										IF (@Rowcount = 0	OR @Rowcount2 >0)											
											BEGIN
												/* does not already exists, GET MAX PH3 Node Within PH2 Node*/
												SET @SQL = ' SELECT MAX(PRODH) + 1 FROM ( SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,8))) AS PRODH  FROM cfph WHERE STUFE = 3'
												SET @SQL = @SQL + ' UNION SELECT DISTINCT CONVERT(BIGINT,(RIGHT(PRODH,8)))AS PRODH FROM ' + @dbName + '.DBO.TTT179T WHERE ZSTUFE = 3 )  T '																											
												INSERT INTO @TableNN EXEC (@SQL)																				
												SELECT @NextNumber = CAST(CAST(@NextNumber2 AS NVARCHAR)+ RIGHT('0000000'+CAST(NN AS NVARCHAR),8) AS NVARCHAR)  FROM @TableNN
												--IF @DebugMode = 1 BEGIN PRINT @SQL END
												
											END										
										
							
										SET @SQL = 'INSERT INTO ' + @dbName + '..ttT179T SELECT ' + CAST(@NextNumber AS NVARCHAR) + ' AS PRODH, ''' + LEFT(@PH3Description,40) + '''  AS VText, ''E'' AS SPRAS,3 as zSTUFE, ''' + @PH3Description + '''  AS zLegacyText, 
											LEFT(' + CAST(@NextNumber AS NVARCHAR) + ',5) AS zPRODH1, LEFT(' + CAST(@NextNumber2 AS NVARCHAR) + ',10) as zPRODH2,'
										SET @SQL = @SQL + '' + CAST(@NextNumber AS NVARCHAR) + ' AS zPRODH3, ' + CAST(@srcID AS NVARCHAR) + ' AS zSrcID,0 as zInSAP,0 as zChange,0 as zActive,0 as zDGError'	
										EXEC (@SQL)

										DELETE FROM @TableNN
										UPDATE @TableVTEXT SET Done = 1 WHERE VTEXT3 = @PH3Description AND VTEXT2 = @PH2Description
									END	
							
							END	

						/* Update TargetFile with PH3 Node#*/						
						SET @SQL = 'UPDATE ' + @dbName + '..tt' + @Table+ ' SET ' + @TableField + ' = A.PRODH FROM ' + @dbName + '..tt' + @Table + ' INNER JOIN ' + @dbName + '.dbo.ttT179T AS A ON A.zLegacyText = zLegacyPH3 '									
						SET @SQL = @SQL + ' INNER JOIN ' + @dbName + '.dbo.ttT179T AS B ON B.zLegacyText = zLegacyPH2  WHERE B.zSTUFE = 2  AND A.zSTUFE = 3  AND a.zPRODH2 = b.PRODH ' --+ @SQLPHExists 
						EXEC (@SQL)		
						SET @RowCount = @RowCount  + @@ROWCOUNT								
					END


SET_ACtive:
			/* SEt zActive,zINSAP from cfph*/
			/*Check SAP*/
			SET @SQL = 'UPDATE ' + @dbName + '..ttT179T SET zActive = CASE WHEN ISNULL(T179T.PRODH,'''') = '''' THEN 1 ELSE 0 END ,zINSAP = CASE WHEN ISNULL(T179T.PRODH,'''') = '''' THEN 0 ELSE 1 END FROM ' + @dbName + '..ttT179T LEFT OUTER JOIN ' + @SAPDB + '..T179T ON T179T.PRODH = ttT179T.PRODH '			
		IF @DebugMode = 1 BEGIN PRINT @SQL END
			EXEC (@SQL)
			/* MArk only PH's needed for the load*/				
			SET @SQL = 'UPDATE ' + @dbName + '..ttT179T SET zActive = 0 FROM ' + @dbName + '..ttT179T LEFT OUTER JOIN ' + @dbName + '..tt' + @Table + ' ON ttT179T.PRODH = tt' + @Table + '.' + @TableField + ' WHERE tt' + @Table + '.' + @TableField + ' IS NULL'			
			EXEC (@SQL)
		IF @DebugMode = 1 BEGIN PRINT @SQL END
			/* MArk new level 2 PH's needed for the load*/				
			SET @SQL = 'UPDATE ' + @dbName + '..ttT179T SET zActive = 1 WHERE zActive = 0 AND zPRODH2 IN ( SELECT PRODH FROM ' + @dbName + '..ttT179T WHERE zActive = 0 AND zINSAP = 0 ) '			
			EXEC (@SQL)
		IF @DebugMode = 1 BEGIN PRINT @SQL END
		/* MArk new level 1 PH's needed for the load*/				
			SET @SQL = 'UPDATE ' + @dbName + '..ttT179T SET zActive = 1 WHERE zActive = 0 AND zPRODH1 IN ( SELECT PRODH FROM ' + @dbName + '..ttT179T WHERE zActive = 0 AND zINSAP = 0 ) '			
			EXEC (@SQL)
		IF @DebugMode = 1 BEGIN PRINT @SQL END
			EXEC (@SQL)
			SET @RowCount = @RowCount  + @@ROWCOUNT			
			
			SET @SQL = 'UPDATE [ttT179T] set prodh =     ttMARA.matkl + SUBSTRING(prodh,6, len(prodh) -5), 
				[zPRODH1] = ttMARA.matkl ,
				[zPRODH2] = ttMARA.matkl + SUBSTRING(zPRODH2,6, len(zPRODH2) -5),
				[zPRODH3] = ttMARA.matkl + SUBSTRING(zPRODH3,6, len(zPRODH3) -5)
			FROM ' + @dbName + '.[dbo].[ttT179T] 
			INNER JOIN 	' + @dbName + '.[dbo].[ttMARA] ON ttMARA.PRDHA = ttT179T.PRODH 			  
			WHERE (ttT179T.zActive = 1 or prodh NOT IN (SELECT PRODH FROM cfph )) AND ''' + @srcSystem + ''' in ( ''EPN'',''E03'' ) and ttmara.MATKL <> zPRODH1 '
			
			EXEC (@SQL)
						
			--New PH's'
			SET @SQL = '
			INSERT INTO dbo.cfph
				( PRODH ,
				  VTEXT ,
				  zLegacyText ,
				  STUFE ,
				  PRODH1 ,
				  PRODH2 ,
				  PRODH3 ,
				  AddedOn ,
				  AddedBy ,
				  zInSAP ,
				  zActive ,
				  zMigrationActive ,
				  ValidFrom ,
				  ValidTo ,
				  zSource)    
				SELECT DISTINCT
					   [PRODH]
					  ,[VTEXT]
					  ,[ZLegacyText]      
					  ,[zSTUFE]      
					  ,[zPRODH1]
					  ,[zPRODH2]
					  ,[zPRODH3]
					  ,SYSDATETIME()
					  ,SYSTEM_USER
					  ,0 AS zInSAP
					  ,1 AS zActive
					  ,0 AS zMigrationActive
					  ,''''
					  ,''''
					  ,''' + CAST(@srcID AS NVARCHAR) + '''
				  FROM ' + @dbName + '.[dbo].[ttT179T] 
				  WHERE prodh NOT IN (SELECT PRODH FROM cfph ) AND ''' + @srcSystem + ''' in ( ''EPN'',''E03'' )
					'			
			EXEC (@SQL)	
			  			       
			---- Temporary Fix for Professional Services PH value chagnes
			--SET @SQL = 'UPDATE ' + @dbName + '..ttMARA SET PRDHA = replace (PRDHA,''10090'',convert(varchar(5),MATKL)) where PRDHA like ''10090%'''		
			SET @SQL = 'UPDATE ' + @dbName + '..ttMARA SET PRDHA = MATKL + SUBSTRING(PRDHA,6, len(PRDHA) -5) where CHARINDEX(PRDHA,MATKL) = 0 	AND LEN(PRDHA) > 6	'	
			--print @SQL
			EXEC (@SQL)	
			
		RETURN @RowCount
	END
GO
