USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGetAhrsAgeGT15Min]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from dgdb_adhoc_dev..adhocRequest where ahrId = 656
CREATE PROCEDURE [dbo].[spGetAhrsAgeGT15Min]
AS
BEGIN

	DECLARE @xml NVARCHAR(MAX), @body NVARCHAR(MAX);
	
	SELECT AhrId AS AhrId, ahrDescription AS AhrDescription, ahrSstCode AS AhrStatus
	INTO #temp
	FROM DGDB_ADHOC_DEV..AdhocRequest
	WHERE (DATEDIFF(minute, ahrmodifiedDate, GETDATE()) > 15) AND ahrsstCode BETWEEN 30 AND 39;
	
	SET @xml = CAST(( SELECT [AhrId] AS 'td','',
       [AhrDescription] AS 'td','', [AhrStatus] AS 'td'
	FROM #temp ORDER BY AhrId FOR XML PATH('tr'), ELEMENTS ) AS NVARCHAR(MAX));
	
	SET @body ='<html><body><H3>AHRs Pending for more than 15 minutes</H3><table border = 1><tr><th> AhrId </th> <th> AhrDescription </th> <th> AhrStatus </th></tr>';
	SET @body = @body + @xml +'</table></body></html>'
	
	--EXEC msdb.dbo.sp_send_dbmail  
	--	@profile_name = 'Email job Alerts',  
	--	@recipients = 'tw_mdm@techwave.net',  
	--	@body = @MailBody,  
	--	@subject = 'AhrId has issues';
	
	EXEC msdb.dbo.sp_send_dbmail
		@profile_name = 'Email job Alerts',
		@body = @body,
		@body_format ='HTML',
		@recipients = 'sswathi@techwave.net', -- replace with your email address
		@subject = 'E-mail in Tabular Format' ;

	DROP TABLE #Temp;
END
GO
