USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertDataToUTTables_PIR_bkp4_3_2018]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP TABLE zVPL_EPN_20171107_31_03.dbo.tmpMATNR  
--EXEC SPInsertDataToUTTables_PIR 'BDA_MM_UL_E03', 'WG0218', 'zVPL_EPN_20180205_30_12', 'GLP', '300' , 1 
  
CREATE PROCEDURE [dbo].[SPInsertDataToUTTables_PIR_bkp4_3_2018]  
(  
	@Database NVARCHAR(400),  
	@Server NVARCHAR(100),  
	@zVPL NVARCHAR(100),   
	@srcSystem VARCHAR(30),   
	@srcClient VARCHAR(5),
	@IsFromAhr BIT = 0
)  
AS  
BEGIN  
      
	DECLARE @SQL NVARCHAR(MAX)
		, @tableName NVARCHAR(MAX)
		, @SAPClientDataDB VARCHAR(30) = ''
		, @RowCount INTEGER
		, @JoinCondition NVARCHAR(MAX)
		, @MDMTicketNumber NVARCHAR(MAX);

	DECLARE @R TABLE (FName VARCHAR(50), T INTEGER);  

	IF @SAPClientDataDB = ''   
	BEGIN   
		SELECT  @SAPClientDataDB = trdDatabase   
		FROM dbo.cfTargetData   
		WHERE trdSystem = @srcSystem AND trdClient = @srcClient;   
	END;  
	--PRINT @SAPClientDataDB; 
	
    IF(@IsFromAhr = 1)
    BEGIN
		SET @JoinCondition = 'LEFT OUTER JOIN DGDB_ADHOC_PROD..AdHocRequest AH ON AH.ahrID = A.zSrcId';
		SET @MDMTicketNumber = 'AH.ahrMDMTicket';
    END
    ELSE
    BEGIN
		SET @JoinCondition = 'LEFT OUTER JOIN DGDB_PL..CFSource CF ON CF.SrcId = A.zSrcId';
		SET @MDMTicketNumber = 'CF.srcMDMTicketNumber';
    END  

	/*
	Create EINE/EINA Records
	*/ 
	SET @SQL = 'INSERT INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_PIR_CREATEINFO](
			[MSGFN]
			,[INFNR]
			,[MATNR]
			,[MATKL]
			,[LIFNR]
			,[WERKS]
			,[EKGRP]
			,[WAERS]
			,[LOEKZ]
			,[MEINS]
			,[UMREZ]
			,[UMREN]
			,[LMEIN]
			,[MATNR_EXTERNAL]
			,[EKORG]
			,[ESOKZ]
			,[NORBM]
			,[APLFZ]
			,[PEINH]
			,[BPRME]
			,[BPUMZ]
			,[BPUMN]
			,[MWSKZ]
			,[BSTAE]
			,[XERSN]
			,[RDPRF]
			,[zActive]
			,zSrcId
			,zTicketNumber)
		SELECT DISTINCT
			''009'' AS MSGFN,
			NULL AS INFNR,
			A.MATNR,
			D.zMATKL,
			CASE WHEN ( dgdb.dbo.boaIsNumeric(A.LIFNR) = 0 ) THEN A.LIFNR ELSE dgdb.dbo.boaPad(A.LIFNR, 0, 10) END AS LIFNR,
			A.WERKS,
			CASE WHEN E.EKGRP IS NOT NULL THEN E.EKGRP ELSE ''/'' END AS EKGRP,
			E.WAERS,
			E.LOEKZ,
			''EA'' AS MEINS,
			1 AS UMREZ,
			1 AS UMREN,
			''EA'' AS LMEIN,
			A.MATNR,
			A.EKORG,
			ISNULL(A.ESOKZ,0) AS ESOKZ,
			A.NORBM,
			A.APLFZ,
			1 AS PEINH,
			''EA'' AS BPRME,
			1 AS BPUMZ,
			1 AS BPUMN,
			NULLIF(ISNULL(E.MWSKZ,''''),'''') AS MWSKZ,
			NULLIF(ISNULL(E.BSTAE,''''),'''') AS BSTAE,
			NULLIF(ISNULL(E.XERSN,''''),'''') AS XERSN,
			E.RDPRF, ''';
	SET @SQL = @SQL + CAST(@IsFromAhr AS NVARCHAR(2)) + ''' AS zActive,
			A.zSrcId,
			' + @MDMTicketNumber + ' AS zTicketNumber
		FROM ' + @zVPL + '.dbo.txEINE_EINA_1_PIR_LSMW AS A
		INNER JOIN ' + @zVPL + '.dbo.ttEINA D ON D.MATNR = A.MATNR AND D.LIFNR = A.LIFNR
		INNER JOIN ' + @zVPL + '.dbo.ttEINE E ON E.zMATNR = D.MATNR AND E.WERKS = A.WERKS AND E.zLIFNR = A.LIFNR ' + @JoinCondition;
	--PRINT @SQL;
	EXEC(@SQL);
	
	SET @SQL = 'INSERT INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_PIR_COND](
			[MSGFN]
			,[KSCHL]
			,[VAKEY]
			,[MATNR]
			,[LIFNR]
			,[EKORG]
			,[ESOKZ]
			,[WERKS]
			,[DATAB]
			,[DATBI]
			,[KRECH]
			,[KBETR]
			,[KONWA]
			,[KPEIN]
			,[KMEIN]
			,[KZNEP]
			,[KAPPL]
			,WAERK
			,MEINS
			,ALAND
			,WKREG
			,WKCOU
			,WKCTY
			,LLAND
			,REGIO
			,COUNC
			,CITYC
			,LAND1
			,HLAND
			,KUMNE
			,[zACTIVE]
			,[MATNR_EXTERNAL]
			,zSrcId
			,zTicketNumber)
		SELECT DISTINCT
			''009'' AS MSGFN,
			KSCHL,
			A.VAKEY,
			A.MATNR,
			A.LIFNR,
			A.EKORG,
			A.ESOKZ,
			A.WERKS,
			A.DATAB,
			A.DATBI,
			KRECH,
			KBETR,
			KONWA,
			KPEIN,
			KMEIN,
			KZNEP,
			''M'' AS KAPPL,
			NULL AS WAERK,
			NULL AS MEINS,
			NULL AS ALAND,
			NULL AS WKREG,
			NULL AS WKCOU,
			NULL AS WKCTY,
			NULL AS LLAND,
			NULL AS REGIO,
			NULL AS COUNC,
			NULL AS CITYC,
			NULL AS LAND1,
			NULL AS HLAND,
			NULL AS KUMNE, ''';
	SET @SQL = @SQL + CAST(@IsFromAhr AS NVARCHAR(2)) + ''' AS zActive,
			A.MATNR,
			A.zSrcId,
			' + @MDMTicketNumber + ' AS zTicketNumber
		FROM ' + @zVPL + '.dbo.txEINE_Conditions_Idoc_Header AS A 
        INNER JOIN ' + @zVPL + '.dbo.txEINE_Conditions_Idoc_Detail AS B ON A.MATNR = B.MATNR AND A.WERKS = B.WERKS 
			AND A.LIFNR = B.zLIFNR ' + @JoinCondition + '
        ORDER BY KZNEP DESC';
	--PRINT (@SQL);
	EXEC (@SQL);
END;
GO
