USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spInsertIntoCfSourceProcessing]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertIntoCfSourceProcessing]  
AS  
BEGIN  
  
 INSERT INTO DV0247.DGDB_PL.dbo.cfSourceProcessing(srpSrcID, srpSystem, srpFDTicketNumber, srpSPTicketNumber  
  , srpDescription, srpSstCode, srpComment, srpUser, srpUpdated)  
 SELECT DISTINCT srcID, srcSystem, 0, srcMDMTicketNumber, srcName, srcSstCode, scrComment, srcUser, GETDATE()  
 FROM DV0247.DGDB_PL.dbo.cfSourceProcessing CSP  
 RIGHT OUTER JOIN dbo.cfSource S ON S.srcID = csp.srpSrcID  
 WHERE CSP.srpSrcID IS NULL   
  AND srcGroup IN ('APAC')  
  AND srcSstCode IN (30, 31);  
  
END
GO
