USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess05CiscoBootstrapImport_TERRY]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess05CiscoBootstrapImport_TERRY] 

	@srcID nvarchar(20) = 337
AS
BEGIN
	
	SET NOCOUNT ON;

		SET TRANSACTION ISOLATION LEVEL 
		READ UNCOMMITTED 

		DECLARE 
			@SQL NVARCHAR(4000),
			@SQL2 NVARCHAR(4000),
			@srcName NVARCHAR(50)='',
			@srcSrtCode NVARCHAR(4),
			@srcVendorCode NVARCHAR(50)='',
			@srcTableName NVARCHAR(50)='',			
			@DBName NVARCHAR(40)='',
			@GPLFile NVARCHAR(255),
			@WPLFile NVARCHAR(255)

		/*Get the database name based on SourceID*/
		 SELECT	@srcName = srcName,
			@srcSrtCode = srcSrtCode,
			@srcVendorCode = srcVendorCode ,
            @srcTableName = srcTableName			
        FROM cfSource
        WHERE srcid = @srcID	
		SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)

		/* Check if SrcID is Cisco*/
		IF NOT EXISTS( SELECT * FROM dbo.cfSourceSourceGroup WHERE ssgSrgID = 1 AND ssgSrcID = @srcID)  --- Cisco Only)
			BEGIN
				PRINT 'srcID ' + CAST(@srcID AS NVARCHAR) +   ' is not a Cisco Pricelist ( <> srcGroup 1)'
				RETURN
			END
		ELSE
			BEGIN
				Select @GPLFile = 
					CASE @SrcID
						WHEN '9' THEN '\\WG0218\MDMUpload\CA\1129 - Canada GPL Pricing file.txt'
						WHEN '13' THEN '\\WG0218\MDMUpload\AU\Australia GPL Pricing file.txt'
						WHEN '16' THEN '\\WG0218\MDMUpload\US\1109 - US GPL Pricing file.txt'
						--WHEN '51' THEN '\\WG0218\MDMUpload\EU\1110_Pricing_NGC1.txt'
						WHEN '51' THEN '\\WG0218\MDMUpload\EU\1110_Pricing_Bootstrap_NGC_160615094935.txt'
						WHEN '14' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '559' THEN '\\WG0218\MDMUpload\EU\Emerging\Pricing_Bootstrap_NGC.txt'
						ELSE '\\Oh\Big\Bummer'
					END
				Select @WPLFile = 
					CASE @SrcID
						WHEN '9' THEN '\\WG0218\MDMUpload\CA\1135 - Canada WPL Pricing file.txt'
						WHEN '13' THEN '\\WG0218\MDMUpload\AU\Australia WPL Pricing file.txt'
						WHEN '16' THEN '\\WG0218\MDMUpload\US\1134 - US WPL Pricing file.txt'
						--WHEN '51' THEN '\\WG0218\MDMUpload\EU\1137-Europe WPL Pricing file1.txt'
						WHEN '51' THEN '\\WG0218\MDMUpload\EU\1137_Pricing_Bootstrap_NGC_160615093817.txt'
						WHEN '14' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '559' THEN '\\WG0218\MDMUpload\EU\Emerging\glemkt.txt'
						ELSE '\\Oh\Big\Bummer'
					END
			END

		IF OBJECT_ID('tempdb..##Global_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Global_Pricing_NGC END				
		IF OBJECT_ID('tempdb..##Wholesale_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Wholesale_Pricing_NGC END	

		/* ## means Create global temporary table (in Memory)*/
		CREATE TABLE [dbo].[##Global_Pricing_NGC](
			[creation_date] [varchar](50) NULL,
			[product_number] [varchar](50) NULL,
			[description] [varchar](150) NULL,
			[erp_price_list_id] [varchar](50) NULL,
			[list_price] [varchar](50) NULL,
			[orderable_ind] [varchar](50) NULL,
			[configuration_ind] [varchar](50) NULL,
			[discount_code] [varchar](50) NULL,
			[unspsc_code] [varchar](50) NULL,
			[leadtime] [varchar](50) NULL,
			[service] [varchar](50) NULL,
			[weight] [varchar](50) NULL,
			[price_protection] [varchar](50) NULL,
			[web_orderable] [varchar](50) NULL,
			[pricing_tool_indicator] [varchar](50) NULL,
			[delivery_method] [varchar](50) NULL,
			[item_catalog_category] [varchar](50) NULL,
			[serialized_flag] [varchar](50) NULL,
			[eol_ext_announce_date] [varchar](50) NULL,
			[eol_sales_date] [varchar](50) NULL,
			[eol_contract_renew_date] [varchar](50) NULL,
			[eol_last_support_date] [varchar](50) NULL,
			[eol_sw_avail_date] [varchar](50) NULL,
			[eol_svc_attach_date] [varchar](50) NULL,
			[eol_sw_maintenance_date] [varchar](50) NULL,
			[eol_security_vul_support_date] [varchar](50) NULL,
			[erp_family] [varchar](50) NULL,
			[product_type] [varchar](50) NULL,
			[product_subgroup] [varchar](50) NULL,
			[upc_code] [varchar](50) NULL,
			[stockable_flag] [varchar](50) NULL,
			[env_orderability_flag] [varchar](50) NULL,
			[sw_subscription_minimum_quantity] [varchar](50) NULL,
			[sw_subscription_maximum_quantity] [varchar](50) NULL,
			[sw_subscription_quantity_band_uom] [varchar](50) NULL,
			[sw_subscription_duration_minimum] [varchar](50) NULL,
			[sw_subscription_duration_maximum] [varchar](50) NULL,
			[sw_subscription_duration_default] [varchar](50) NULL,
			[sw_subscription_duration_measurement_type] [varchar](50) NULL,
			[pak_delivery_preference] [varchar](50) NULL,
			[fulfillment_restriction] [varchar](50) NULL,
			[provisioning_enabled]  [varchar](50) NULL,
			[product_quantity_delivery_preference]  [varchar](50) NULL,
			[base_discount_category]  [varchar](50) NULL,
			[item_type]  [varchar](50) NULL,
			[user_specified_start_date]  [varchar](50) NULL,
			[smart_licensing_enabled]  [varchar](50) NULL,
			[smart_account]  [varchar](50) NULL,
			[service_program_name]  [varchar](50) NULL
			)

		SET @SQL = '
						BULK INSERT ##Global_Pricing_NGC
							FROM '''  + @GPLFile + '''
							WITH ( FIRSTROW = 2, FIELDTERMINATOR = ''|'' , ROWTERMINATOR = ''0x0a'')
						PRINT '''  + @GPLFile + ' Created, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
					'
		EXEC (@SQL)
		
		CREATE TABLE [dbo].[##Wholesale_Pricing_NGC](
			[Product] [varchar](255) NULL,
			[Product Description] [varchar](255) NULL,
			[Service Category] [varchar](255) NULL,
			[Price in USD] [varchar](255) NULL,
			[Quantity Min] [varchar](255) NULL,
			[Quantity Max] [varchar](255) NULL,
			[Duration] [varchar](255) NULL,
			[Orderability] [varchar](255) NULL,
			[Item Identifier] [varchar](255) NULL,
			[Service Program] [varchar](255) NULL,
			[Category Base Discount Name] [varchar](255) NULL,
			[End Of Sale Date] [varchar](255) NULL
		)

		SET @SQL = '
						BULK INSERT ##Wholesale_Pricing_NGC
							FROM '''  + @WPLFile + '''
							WITH ( FIRSTROW = 2, FIELDTERMINATOR = ''	'' , ROWTERMINATOR = ''0x0a'')
						PRINT '''  + @WPLFile + ' Created, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
					'
		EXEC(@SQL)
		PRINT ''

		--TRUNCATE TABLE 
		--INSERT INTO Cisco

		IF OBJECT_ID(@Dbname + '..' + @srcTableName) IS NOT NULL 
			BEGIN 
				SET @SQL = 'DROP TABLE ' + @Dbname + '..' + @srcTableName
				EXEC (@SQL)
				PRINT @Dbname + '..' + @srcTableName + ' Dropped'
			END				
		
		SET @SQL = '
			SELECT ##Global_Pricing_NGC.creation_date ,
					##Global_Pricing_NGC.product_number ,
					##Global_Pricing_NGC.[description] ,
					##Global_Pricing_NGC.erp_price_list_id ,
					##Global_Pricing_NGC.list_price AS list_price ,
					##Global_Pricing_NGC.orderable_ind ,
					##Global_Pricing_NGC.configuration_ind ,
					##Global_Pricing_NGC.discount_code ,
					##Global_Pricing_NGC.unspsc_code ,
					##Global_Pricing_NGC.leadtime ,
					##Global_Pricing_NGC.[service] ,
					##Global_Pricing_NGC.[weight] ,
					##Global_Pricing_NGC.price_protection ,
					##Global_Pricing_NGC.web_orderable ,
					##Global_Pricing_NGC.pricing_tool_indicator ,
					##Global_Pricing_NGC.delivery_method ,
					##Global_Pricing_NGC.item_catalog_category ,
					##Global_Pricing_NGC.serialized_flag ,
					##Global_Pricing_NGC.eol_ext_announce_date ,
					##Global_Pricing_NGC.eol_sales_date ,
					##Global_Pricing_NGC.eol_contract_renew_date ,
					##Global_Pricing_NGC.eol_last_support_date ,
					##Global_Pricing_NGC.eol_sw_avail_date ,
					##Global_Pricing_NGC.eol_svc_attach_date ,
					##Global_Pricing_NGC.eol_sw_maintenance_date ,
					##Global_Pricing_NGC.eol_security_vul_support_date ,
					##Global_Pricing_NGC.erp_family ,
					##Global_Pricing_NGC.product_type ,
					##Global_Pricing_NGC.product_subgroup ,
					##Global_Pricing_NGC.upc_code ,
					##Global_Pricing_NGC.stockable_flag ,
					##Global_Pricing_NGC.env_orderability_flag ,
					##Global_Pricing_NGC.sw_subscription_minimum_quantity ,
					##Global_Pricing_NGC.sw_subscription_maximum_quantity ,
					##Global_Pricing_NGC.sw_subscription_quantity_band_uom ,
					##Global_Pricing_NGC.sw_subscription_duration_minimum ,
					##Global_Pricing_NGC.sw_subscription_duration_maximum ,
					##Global_Pricing_NGC.sw_subscription_duration_default ,
					##Global_Pricing_NGC.sw_subscription_duration_measurement_type ,
					##Global_Pricing_NGC.pak_delivery_preference ,
					##Wholesale_Pricing_NGC.[Price in USD] AS WPL_List_Price
					INTO ' + @Dbname + '..' + @srcTableName
			SET @SQL2 = '
				FROM ##Global_Pricing_NGC
					LEFT OUTER JOIN ##Wholesale_Pricing_NGC ON ##Global_Pricing_NGC.product_number = ##Wholesale_Pricing_NGC.product
				GROUP BY ##Global_Pricing_NGC.creation_date ,
					##Global_Pricing_NGC.product_number ,
					##Global_Pricing_NGC.description ,
					##Global_Pricing_NGC.erp_price_list_id ,
					##Global_Pricing_NGC.list_price ,
					##Global_Pricing_NGC.orderable_ind ,
					##Global_Pricing_NGC.configuration_ind ,
					##Global_Pricing_NGC.discount_code ,
					##Global_Pricing_NGC.unspsc_code ,
					##Global_Pricing_NGC.leadtime ,
					##Global_Pricing_NGC.service ,
					##Global_Pricing_NGC.weight ,
					##Global_Pricing_NGC.price_protection ,
					##Global_Pricing_NGC.web_orderable ,
					##Global_Pricing_NGC.pricing_tool_indicator ,
					##Global_Pricing_NGC.delivery_method ,
					##Global_Pricing_NGC.item_catalog_category ,
					##Global_Pricing_NGC.serialized_flag ,
					##Global_Pricing_NGC.eol_ext_announce_date ,
					##Global_Pricing_NGC.eol_sales_date ,
					##Global_Pricing_NGC.eol_contract_renew_date ,
					##Global_Pricing_NGC.eol_last_support_date ,
					##Global_Pricing_NGC.eol_sw_avail_date ,
					##Global_Pricing_NGC.eol_svc_attach_date ,
					##Global_Pricing_NGC.eol_sw_maintenance_date ,
					##Global_Pricing_NGC.eol_security_vul_support_date ,
					##Global_Pricing_NGC.erp_family ,
					##Global_Pricing_NGC.product_type ,
					##Global_Pricing_NGC.product_subgroup ,
					##Global_Pricing_NGC.upc_code ,
					##Global_Pricing_NGC.stockable_flag ,
					##Global_Pricing_NGC.env_orderability_flag ,
					##Global_Pricing_NGC.sw_subscription_minimum_quantity ,
					##Global_Pricing_NGC.sw_subscription_maximum_quantity ,
					##Global_Pricing_NGC.sw_subscription_quantity_band_uom ,
					##Global_Pricing_NGC.sw_subscription_duration_minimum ,
					##Global_Pricing_NGC.sw_subscription_duration_maximum ,
					##Global_Pricing_NGC.sw_subscription_duration_default ,
					##Global_Pricing_NGC.sw_subscription_duration_measurement_type ,
					##Global_Pricing_NGC.pak_delivery_preference ,
					##Wholesale_Pricing_NGC.[Price in USD]'
			EXEC (@SQL + @SQL2)			
			PRINT @Dbname + '..' + @srcTableName + ' Created, Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)
						
			IF OBJECT_ID('tempdb..##Global_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Global_Pricing_NGC END				
			IF OBJECT_ID('tempdb..##Wholesale_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Wholesale_Pricing_NGC END				
			

END
GO
