USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGenDropObject]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Janvb>
-- Create date: 27 feb 2014
-- Description:	Return Objectname + Time

-- =============================================
CREATE Procedure [dbo].[spGenDropObject]

  @Object NVARCHAR(80) 

AS
    BEGIN

		DECLARE @SQL AS NVARCHAR(255)
		
        IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(@Object) AND type in (N'U'))
				BEGIN
					SET @SQL = 'DROP TABLE ' + @Object
					EXEC (@SQL)
				END

		IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(@Object) AND type in (N'V'))
				BEGIN
					SET @SQL = 'DROP VIEW ' + @Object
					EXEC (@SQL)
				END
    END



GO
