USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spgetActivezVPLS]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spgetActivezVPLS]
AS BEGIN

IF OBJECT_ID('tempdb..#temp_zVPL') IS NOT NULL    DROP TABLE #temp_zVPL


SELECT DISTINCT   name AS zVPLName, 0 AS done INTO #temp_zVPL FROM sys.databases 
WHERE name LIKE 'zVPL%' AND name LIKE '%_31_%' AND create_date > DATEADD(dd, -2, GETDATE())

DECLARE @zVPLName VARCHAR(1000)
DECLARE @SQL VARCHAR(MAX)
DECLARE @NewMaterialCount INT
DECLARE @TableExists TABLE ( Exist BIT );

WHILE ( SELECT DISTINCT TOP 1
                zVPLName
         FROM   #temp_zVPL
         WHERE  done = 0
       ) IS NOT NULL
    BEGIN
        SELECT DISTINCT TOP 1
                @zVPLName = zVPLName
        FROM    #temp_zVPL
        WHERE   done = 0;

        PRINT @zVPLName;
        SET @SQL = 'SELECT 1 FROM  ' + @zVPLName
            + '.dbo.ttmara WHERE zActive = 1 AND EXISTS (select 1 from ' + @zVPLName
            + '.dbo.ttmara WHERE LEN(MATNR) > 18) AND NOT EXISTS (select 1 from ' + @zVPLName
            + '.dbo.ttmara WHERE zChange = 1)';
                        
        DELETE  FROM @TableExists;
        INSERT  INTO @TableExists
                EXEC ( @SQL
                    );  
        IF ISNULL(@@ROWCOUNT, 0) > 0
            BEGIN
                SELECT  @zVPLName;
            END;
        DELETE  FROM @TableExists;
                        
                        
        UPDATE  #temp_zVPL
        SET     done = 1
        WHERE   zVPLName = @zVPLName;
                        
    END;
            
            
--  DECLARE @NewMaterialCount INT          
--SELECT @NewMaterialCount =COUNT(1) FROM  zVPL_EPN_20170925_31_01.dbo.ttmara WHERE zActive  =1            
--SELECT @NewMaterialCount
END
GO
